@import url(https://fonts.googleapis.com/css?family=Roboto:300,500&subset=latin,latin-ext);


body.lost-password {
	text-align: center;
	padding: 30px 0;
	background: url('/src/assets/img/signup-bg.jpeg') center 200px no-repeat;

}

body.lost-password #logo {
	width: 130px;
	height: auto;
	margin-bottom: 15px;
}

body.lost-password h1 {
	color: #000;
	font-size: 28px;
	font-weight: 500;
	padding: 15px 0;
	margin-bottom: 0;
}

body.lost-password h2 {
	color: #777777;
	font-size: 18px;
	font-weight: 300;

	padding-bottom: 0;
	margin-bottom: 0;
}

#lost-password-box {
	background: #fff;
	margin: 30px 0 50px 0;
	padding:30px 30px 0 30px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
}

#lost-password-box .password-input-box {
	background: url('/static/img/new/lock.png') 0 6px no-repeat;
	width: 100%;
	border-bottom: solid 1px #e3e3e3 !important;
	padding: 0px 3px 0px 0px;
	margin: 15px 0;
}

#lost-password-box .name-input-box {
	background: url('/static/img/new/name.png') 0 6px no-repeat;
	width: 100%;
	border-bottom: solid 1px #e3e3e3 !important;
	padding: 0px 3px 0px 0px;
	margin: 15px 0;
}
#lost-password-box .name-input {
	width: 95%;
	border: none;
	margin: 0px 0 10px 35px;
	font-size: 15px;
}

#lost-password-box .password-input-box-envelope {
	background: url('/static/img/new/envelope.png') 0 6px no-repeat;
	width: 100%;
	border-bottom: solid 1px #e3e3e3 !important;
	padding: 0px 3px 0px 0px;
	margin: 15px 0;
}

#lost-password-box .password-input {
	width: 95%;
	border: none;
	margin: 0px 0 10px 35px;
	font-size: 15px;
}

#lost-password-box input[type="submit"] {
	background: #01b6b3;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	padding:8px 25px;
	border:none;
	border-radius: 3px;
	clear: both;
	margin-top: 10px;
	width: 100%;
}


#lost-password-box footer {
	background: #f9f9fa;
    font-size: 13px;
    color: #898b96;
    text-align: center;
    padding: 15px 20px;
    margin-left: -30px;
    margin-right: -30px;
    width: 115%;
    margin-top: 20px;
}

#lost-password-box footer a {
	color: #1aa98a;
}

