@import 'https://fonts.googleapis.com/css?family=Martel';

body.signin {
	background: url('/src/assets/img/signup-bg.jpeg') center 200px no-repeat;
}

body.signin hr {
	background: #01b6b3 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
}

body.signin #logo {
	width: 130px;
	height: auto;
	display: table;
    margin: 15px auto;
}

body.signin h1 {
	color: #000000;
    font-size: 22px;
    line-height: 27px;
    font-weight: 300;
    padding: 5px 0;
    display: block;
    margin-bottom: 0;
}

body.signin h1 a {
	color: #000000;
    font-size: 22px;
    line-height: 27px;
    font-weight: 300;
    padding: 12px 0;
    display: block;
    margin-bottom: 0;
}

body.signin div.webinar h1 a {
    padding: 0;
}

body.signin h2 {
	color: #777777;
	font-size: 15px;
	font-weight: 300;

	padding-bottom: 0;
	margin-bottom: 0;
}

body.signin h3 {
    color: #797986;
    font-size: 14px;
    font-weight: 500;
    text-align: left !important;
    padding-top: 0;
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 10px;
}



/*** ICON FOR POLISH VERSION ONLY ****/

body.signin h3 i {
	padding-right: 5px;
	color: #01b6b3;
	font-size: 12px;
}

/*** END ***/


/* Change Autocomplete styles in Chrome*/
body.signin input:-webkit-autofill,
body.signin input:-webkit-autofill:hover,
body.signin input:-webkit-autofill:focus
body.signin input:-webkit-autofill,
body.signin textarea:-webkit-autofill,
body.signin textarea:-webkit-autofill:hover
body.signin textarea:-webkit-autofill:focus,
body.signin select:-webkit-autofill,
body.signin select:-webkit-autofill:hover,
body.signin select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  transition: background-color 50000s ease-in-out 0s;
}


.clearfix {
	clear: both;
}

.center-block {
	margin: auto;
	float: none;
}

#signin-box {
	background: #fff;
	margin:40px 0;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
}

#left-side {
	width: 50%;
	float: left;
	text-align: center;
	padding:30px 30px 0 30px;
}

#left-side h3 {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    text-align: left !important;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: inherit !important;
}

.signup-email {
	background: url('/static/img/new/envelope.png') left center no-repeat;
	width: 100%;
	border-bottom: solid 1px #e3e3e3 !important;
	padding: 15px 3px 0px 0px;
}

.signup-email-input {
	width: 100%;
	border: none;
	margin: 0 0 15px 35px;
	font-size: 15px;
}

.signup-password {
	background: url('/static/img/new/lock.png') left center no-repeat;
	width: 100%;
	border-bottom: solid 1px #e3e3e3 !important;
	padding: 15px 3px 0px 0px;
}

.signup-password-input {
	width: 100%;
	border: none;
	margin: 0 0 15px 35px;
	font-size: 15px;
}

.login_form_rules {
    padding-bottom: 20px;
    width: 100%;
	text-align: left;
}

.login_form_rules label {
	padding-left: 20px;
}

.button-signup {
	background: #01b6b3;
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 4px;
	width: 100%;
	border: none;
	text-transform: uppercase;

}

body.signin #left-side .btn-outline {
	color: #01b6b3;
	font-weight: 500;
	font-size: 14px !important;
	text-align: center;
	display: inline-block;
	padding: 10px 15px !important;
	border: solid 1px #01b6b3;
	text-transform: uppercase;
	border-radius: 4px;
	width: 100%;

}


body.signin .or-divider {
	padding: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: 300;
}

body.signin .small {
	font-size: 11px;
	color: #666;
}


#right-side {
	width: 50%;
	float: left;
	background: #fcfcfd;
	padding:30px 30px 30px 30px;
	font-weight: 300;
	line-height: 26px;
	min-height: 541px;
}


#right-side .latest-upgrades {
	padding-bottom: 20px;
}

#right-side .latest-upgrades h1 {
  font-size: 18px;
  color: #000;
  line-height: 1.5;
  width: 100%;
  padding: 0;
}

#right-side .latest-upgrades .date {
	color: #4E4E5C;
	font-size:12px;
}

#right-side .latest-upgrades .date i {
	padding-right: 5px;
	color: #01b6b3;
}

#right-side .latest-upgrades .tag {
	border-radius: 3px;
	padding: 0px 10px;
	background: #eef0f5;
	font-size: 12px;
	font-weight: 400;
	color: #858a9e;
	display: inline-block;
	margin: 5px 0 0px 0;
}

#right-side .latest-upgrades .tag a {
	color: #858a9e !important;
}


/**** FAQ ****/

#right-side .faq  ul {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 15px;
	margin-bottom: 15px;
	width:100%;
	padding-left: 0;
	margin-left: 0;
}

#right-side .faq  ul  li {
	font-size: 13px;
	font-weight: 300;
	color: #000;
	border-radius: 4px;
	padding: 3px 10px 3px 25px;
	list-style: none;
	position: relative;
}

#right-side .faq ul li:nth-child(2n+1) {
	background:#f5f5f8 !important;
}

#right-side .faq ul li:before {
	position: absolute;
	left: 10px;
	top: 12px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: solid 1px #01b6b3;
	content: '';
}

#right-side .faq  ul  li a {
	color: #000;
}

#right-side .faq  ul  li a:hover {
	color: #01b6b3;
}

#right-side .footer-link {
	color: #01b6b3;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
}

#right-side .faq .footer-link i {
	padding-right:5px;
}



/**** WEBINAR ****/


#right-side .webinar .date {
	color: #8c8c8c;
	font-size:12px;
}

#right-side .webinar .date i {
	padding-right: 5px;
	color: #01b6b3;
}

#right-side .webinar .btn-outline {
	font-weight: 500;
	font-size: 11px;
	padding: 6px 25px;
	text-transform: uppercase;
	display: inline-block;
}

#right-side .webinar .desc {
	padding: 10px 0;
}

#right-side .webinar  ul {
	padding-bottom: 15px;
	width:100%;
	padding-left: 0;
	margin-left: 0;
}

#right-side .webinar  ul  li {
	font-size: 13px;
	font-weight: 300;
	color: #000;
	border-radius: 4px;
	padding: 3px 10px 3px 25px;
	list-style: none;
	position: relative;
}

#right-side .webinar ul li:nth-child(2n+1) {
	background:#f5f5f8 !important;
}

#right-side .webinar ul li:before {
	position: absolute;
	left: 10px;
	top: 12px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: solid 1px #01b6b3;
	content: '';
}

#right-side .webinar  ul  li a {
	color: #000;
}

#right-side .webinar  ul  li a:hover {
	color: #01b6b3;
}

#right-side .webinar .footer-link i {
	padding-right:5px;
}



/*** QUOTE SECTION ***/

#testimonials {
	text-align: center;
	line-height: 34px;
}

#testimonials img {
	margin: 15px auto;
	display: block;

}

#testimonials .quote {
	font-size: 17px;
	font-weight: 300;
	color:#999999;
	font-family: 'Martel', serif;
	padding:20px 0;
}

#testimonials .author-name {
	font-size: 13px;
	color: #000 !important;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin: 0 !important;
}

#testimonials .authors-company {
	font-size: 12px;
	color: #000 !important;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin: 0 !important;
}

#signin-box.only-left {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#signin-box.only-left #left-side {
	width: 99%;
}

#signin-box.only-left #right-side {
	display: none;
}

.google_signin_button {
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 0 0 auto;
	padding: 0 20px;
	border: #01b6b3 solid 1px;
	border-radius: 4px;
	box-sizing: border-box;
	color: #6d6d6d;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	cursor: pointer;
}

.google_signin_button span.icon {
	margin-right: 20px;
	top: 3px;
	position: relative;
}


/**** MEDIA QUERIES ****/


@media all and (max-width: 700px) {
	#left-side, #right-side {
		width: 100%;
		clear: both;
	}
}


