body.signup {
  text-align: center;
  padding: 30px 0;
	background: url('/src/assets/img/signup-bg.jpeg') center 200px no-repeat;
}

body.signup #logo {
  width: 130px;
  height: auto;
  margin-bottom: 15px;
}

body.signup h1 {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
}

body.signup h2 {
  color: #777777;
  font-size: 18px;
  font-weight: 300;

  padding-bottom: 0;
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  box-shadow: none;
  transition: background-color 600s ease-in-out 0s;
  background-color: transparent !important;
}

.center-block {
  margin: auto;
  float: none;
}

.login-link {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

#signup-box {
  background: #fff;
  margin: 30px 0 40px 0;
  padding: 30px 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

#signup-box .signup-email {
  background: url("/static/img/new/envelope.png") 0 6px no-repeat;
  width: 100%;
  border-bottom: solid 1px #e3e3e3 !important;
  padding: 0px 3px 0px 0px;
}

#signup-box .signup-email-input {
  width: 95%;
  border: none;
  margin: 0px 0 10px 35px;
  font-size: 15px;
}

#signup-box .signup-phonenumber {
  background: url("/static/img/new/envelope.png") 0 6px no-repeat;
  width: 100%;
  border-bottom: solid 1px #e3e3e3 !important;
  padding: 0px 3px 0px 0px;
}

#signup-box .signup-phonenumber-input {
  width: 95%;
  border: none;
  margin: 0px 0 10px 35px;
  font-size: 15px;
}

#signup-box .signup-password {
  background: url("/static/img/new/lock.png") 0 6px no-repeat;
  width: 100%;
  border-bottom: solid 1px #e3e3e3 !important;
  padding: 0px 3px 0px 0px;
}

#signup-box .signup-password-input {
  width: 95%;
  border: none;
  margin: 0px 0 10px 35px;
  font-size: 15px;
}

#signup-box .signup-phone {
  background: url("/static/img/new/phone.png") 0 6px no-repeat;
  width: 100%;
  border-bottom: solid 1px #e3e3e3 !important;
  padding: 0px 3px 0px 0px;
  margin: 15px 0;
}

#signup-box .signup-phone-input {
  width: 95%;
  border: none;
  margin: 0px 0 10px 35px;
  font-size: 15px;
}
.button-signup {
  background: #01b6b3;
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.button-signup[disabled] {
  background-color: #8c8c8c;
}

.fb-button-signup {
  background: #3a579a;
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  text-transform: uppercase;
  border: none;
}

body.signup .or-divider {
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%;
  position: relative;
}
body.signup .or-divider:before {
  position: absolute;
  background: #e3e3e3;
  width: 45%;
  height: 1px;
  left: 0;
  top: 50%;
  content: "";
}
body.signup .or-divider:after {
  position: absolute;
  background: #e3e3e3;
  width: 45%;
  height: 1px;
  right: 0;
  top: 50%;
  content: "";
}

body.signup .small {
  font-size: 11px;
  color: #666;
}

.btn-fb_signup {
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #3b5998;
  border-radius: 3px;
  color: #3b5998;
  padding: 5px 10px;
}
.btn-fb_signup i {
  padding-left: 3px;
}

.btn-fb_signup:hover {
  color: #3b5998;
  background: #f3f5f9;
}

#signup-box footer {
  background: #f9f9fa;
  font-size: 13px;
  text-align: center;
  padding: 15px 10px;
  margin-left: -30px;
  margin-right: -30px;
  width: 115%;
  margin-top: 20px;
}

#signup-box footer a {
  color: #01b6b3;
}

p.terms-link {
  font-size: 12px;
  margin: 50px 0;
}

p.terms-link a {
  color: #01b6b3;
}

.signup-flexslider p {
  font-size: 13px;
  color: #999;
}

.signup-flexslider li {
  list-style: none;
  display: inline-block;
  width: 100%;
}

.signup-flexslider li img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#client_category,
#make_me_caretaker {
  float: left;
  clear: both;
}

#registration_source {
  max-width: 100%;
  font-size: 12px;
  clear: both;
  display: block;
  height: 39px;
}

.terms__row {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: inherit;
  color: #9f9f9f;
  text-align: left;
  margin-bottom: 16px;
  display: flex;
}

.terms__newsletter {
  margin-top: 25px;
  margin-bottom: 48px;
}

.terms__extended {
  position: relative;
  margin-bottom: 0;
  padding-top: 25px;
}

.terms__extended-background {
  position: absolute;
  top: 0;
  left: -30px;
  background-color: #f9f9f9;
  width: calc(100% + 60px);
  height: calc(100% + 30px);
}

.terms__extended-content {
  position: relative;
}

.terms__row .terms__extend-toggle,
.terms__row a {
  color: #01b6b3;
  cursor: pointer;
}
.rule-icon__box {
  width: 15px;
  margin-right: 10px;
  text-align: center;
  flex: 0 0 auto;
}

.terms__row .rule-icon {
  font-size: 15px;
}
/****** FIX CHECKOX *******/
body.signup .reg_terms #accept_terms,
body.signup .reg_terms #accept_processing_data,
body.signup .reg_terms #accept_receive_commercial_informations {
  clear: both;
  margin-top: 3px;
}

.terms__newsletter input[type="checkbox"] {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background: #fff;
  border: solid 1px #e3e3e3;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.terms__newsletter input[type="checkbox"]:checked {
  background: url("/src/assets/img/icons/tick.png") center center no-repeat #01b6b3;
  background-size: 8px 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px #01b6b3;
}

.google_signin_button {
  display: inline-block;
  min-width: 240px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #6d6d6d;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.google_signin_button span.icon {
  margin-right: 20px;
  top: 3px;
  position: relative;
}

@media all and (max-width: 640px) {
  .login-link {
    position: relative;
    margin-bottom: 20px;
    right: 0;
    top: -20px;
    border: none;
    box-shadow: none !important;
  }
}

