/**********
*********** STYLES FOR ANNIVERSARY
***********/


body.anniversary header.header {
	position: relative;
	z-index: 0;
	overflow: hidden;
	height: calc(100vh);
	height: 100vh;
    min-height: 100vh;   
    background: rgb(158,15,46);
	background: -moz-linear-gradient(45deg,  rgba(158,15,46,1) 0%, rgba(64,42,102,1) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(158,15,46,1) 0%,rgba(64,42,102,1) 100%);
	background: linear-gradient(45deg,  rgba(158,15,46,1) 0%,rgba(64,42,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0f2e', endColorstr='#402a66',GradientType=1 );
}

body.anniversary {
	color: #000;
	font-size: 17px;
	font-weight: 300;
	line-height: 32px;
}



/* Pre-setup padding for each section */

body.anniversary #site > section {
	padding: 100px 0;
}


/* Customised container-fluid style */

body.anniversary .container-fluid {
	padding-left: 5%;
	padding-right: 5%;
}

/* Coursor selection colour customisation */

body.anniversary ::selection {
	background: #e61961;
	color: #ffffff;
}
body.anniversary ::-moz-selection {
	background: #e61961;
	color: #ffffff;
}

/* Typography */

body.anniversary h1 {
	font-size: 50px;
	font-weight: 600;
}

body.anniversary h2 {
	font-size: 18px;
	font-weight: 400;
}

body.anniversary h3 {
	font-size: 42px;
	font-weight: 700;
	color: #000;
	padding-bottom: 30px;
}

body.anniversary p.intro {
	font-size: 26px;
	font-weight: 300;
	padding-bottom: 30px;
}

.smaller-font {
	font-size: 15px;
	line-height: 28px;
}




/********* SECTION: HEADER **********/


body.anniversary header.header .hero {
    width: 90%;
    left: 0;
    right: 0;
    margin: 25vh auto 0 auto;
}

body.anniversary video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
 	background: url('/static/img/anniversary/bgplaceholder.jpg');
	background-size: cover;
	-webkit-transition: 1s opacity;
	transition: 1s opacity;
}


/* Header Typography */

body.anniversary header.header h1 {
	font-size: 64px !important;
	letter-spacing: 3px;
	font-weight: 900;
	padding-bottom: 10px;
	margin-bottom: 0;
}

body.anniversary header.header h2 {
	font-size: 20px !important;
	font-weight: 400;
	padding-bottom: 40px;
	margin-bottom: 0;
}

body.anniversary header.header p.content-info {
	font-size: 14px;
	color: #e4cccc;
	padding-top: 20px;
}


/* Navigation Bar */

.anniversary-logo {
	float: left;
	z-index: 999;
}

body.anniversary header.header .top-bar {
	width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50px;
	position: absolute;
}
body.anniversary header.header .top-bar ul { float: right; }
body.anniversary header.header .top-bar li { 
	float: left; 
	padding-left: 15px; 
	margin-left: 0;
}

body.anniversary header.header .top-bar a {
	color: #fff !important;
}


/* HIDE TEXT + IMAGES + FORM */

body.anniversary header.header h1,
body.anniversary header.header h2,
body.anniversary header.header img,
body.anniversary header.header i,
body.anniversary header.header form {
	opacity: 0;
	transition: all 1s;
	text-shadow: none !important;
}


/* Show objects IF hover */

body.anniversary header.header:hover h1,
body.anniversary header.header:hover h2,
body.anniversary header.header:hover img,
body.anniversary header.header:hover i,
body.anniversary header.header:hover form {
	opacity: 1;
	transition: all 1s;
}

body.anniversary header.header .top-bar ul li:hover {
	margin-top: -10px;
	transition: all 1s ease-out;
}


/* Styles for header's object after completed form */

body.anniversary .after {
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	display: none;
	clear: both;
	margin-top: 50px;
}
body.anniversary .after p {
	padding-top: 15px;
	font-size: 32px;
}
body.anniversary .after ul li {
	list-style: none;
}
body.anniversary .after .loader {
	opacity: 1 !important;
}

body.anniversary .after p.loading-fact {
	font-weight: 400 !important;
    font-size: 18px !important;
    padding-top: 50px;
    color: #e4cccc;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Fix */

#videobg {
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0%;
	opacity: 0.8;
	overflow:hidden;
	height: calc(100vh);
	height: 100vh;
    min-height: 100vh; 
}

header.header:hover #videobg {
	transition: all 1s;
	opacity: 0.35;
}

body.anniversary .after .quotes {
	display: none;
}

/********* END: SECTION: HEADER **********/




/****** GENERATE VIDEO FORM *******/

.generate-video-border {
	border:1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	display: inline-block;
	padding: 4px;
	background:rgba(0,0,0,0.1);
}

#generate-video .email {
	background: transparent !important;
	border:0;
	margin-left: 15px;
	color: #fff;
	width: 300px;
	font-weight: 400;
}

#generate-video .email ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
}
#generate-video .email ::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
}
#generate-video .email :-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
#generate-video .email :-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}
#generate-video .email ::placeholder {
	color: #fff !important;
}

#generate-video i {
	color: #e61961;
	padding-left: 15px;
}

#generate-video .submit {
	background: #e61961;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	border:0;
	border-radius: 3px;
	padding: 8px 16px;
}
/****** END: GENERATE VIDEO FORM *******/





/******* MOUSE ICON ANIMATION *******/

body.anniversary header.header svg { 
	position: absolute;
	bottom: 50px;
	left: calc(50% - 40px);
	animation: svg_animation 2s infinite;
	z-index: 1;
}

@keyframes svg_animation {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}

/******* END: MOUSE ICON ANIMATION *******/






/******* GROWTH METRIX ******/

#anniversary-growthmetrix {
	padding-bottom: 0 !important;
}

#anniversary-growthmetrix .mentions {
	animation-duration: 1s;
	animation-delay: 0s;
}

#anniversary-growthmetrix p.desc {
	font-size: 20px;
	color: #606060;
	padding: 30px 0;
}

#anniversary-growthmetrix #number-of-all-mentions {
	color: #323232;
	font-weight: 900;
	font-size: 80px;
	line-height: 90px;
	padding-top: 20px;
}

#anniversary-growthmetrix .heading {
	color: #ae1e59;
	font-weight: 300;
	font-size: 29px;
	padding-bottom: 30px;
    padding-top: 0;
}


/* GIF Graphs */

#anniversary-growthmetrix .graphs {
	padding-top: 30px;
	padding-bottom: 30px;
}

#anniversary-growthmetrix .graphs > .first {
	animation-duration: 1s;
	animation-delay: 0s;
	border-right: 1px dashed #e3e3e3;
}

#anniversary-growthmetrix .graphs > .second {
	animation-duration: 1s;
	animation-delay: 0s;
}

#anniversary-growthmetrix .graph1 img { float: left; }
#anniversary-growthmetrix .graph2 img { float: right; }



/* Number Stats */

#anniversary-growthmetrix #stats {
	margin: 50px 0;
	border-top: 1px dashed #e3e3e3;
	animation-duration: 1s;
	animation-delay: 0s;
}

#anniversary-growthmetrix #stats .col20 {
	width: auto;
	max-width: 25%;
	overflow-x: hidden;
	display: inline-block;
	padding: 30px 48px 0 48px;
	border-right: 1px dashed #e3e3e3;
	vertical-align: text-top;
}

#anniversary-growthmetrix #stats .number, #funfacts .number {
	color: #323232;
	font-weight: 300;
	font-size: 38px;
	line-height: 50px;
	padding-top: 15px;
}

#anniversary-growthmetrix #stats .name, #funfacts .name {
	color: #c2c2c2;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
    letter-spacing: -0.2px;
	text-transform: uppercase;
}



/* Section: Fun Facts */


#funfacts {
	background: #f9f9f9;
	animation-duration: 1s;
	animation-delay: 0.5s;
}

#funfacts aside p {
	font-weight: 400;
	color: #8b8b8b;
	font-size: 14px;
	line-height: 24px;
}

#funfacts h3 {
	font-size: 44px;
	font-weight: 300;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

#funfacts h3 span {
	font-weight: 700;
}

#funfacts h3::after {
	position: absolute;
	content: '';
	width: 40px;
	height: 1px;
	left: 0;
	bottom: -15px;
	background: red;
}

#funfacts .col-sm-4 {
	padding-right: 0;
}

#funfacts .first-row {
	padding-bottom: 50px;
}

#funfacts .icon, #funfacts .numbers { 
	float: left;
	vertical-align: top;
} 

#funfacts .numbers { 
	width: 78%;
} 

#funfacts .icon {
	width: 50px;
	padding:4px 15px 0 0;
}

#funfacts .numbers p {
	padding-top: 0;
}



/* Fix */

@media all 
and (min-width: 1170px) {

	#anniversary-growthmetrix #stats .col20:first-child {
		padding-left: 0 !important;
	}

	#anniversary-growthmetrix #stats .col20:last-child {
		padding-right: 0 !important;
	}

	#anniversary-growthmetrix #stats .col20:last-child {
		border-right: none !important;
	}
	
	#anniversary-growthmetrix .graphs > .first {
		border-right: 1px dashed #e3e3e3;
	}
}

/******* END: GROWTH METRIX ******/





/******* SECTION: COVERAGE MAP ******/


#anniversary-coverage {
	padding: 60px 0 30px 0;
	background: url(/static/img/anniversary/map.png) #000 center 350px no-repeat;
	min-height: 700px;
}

@media all and (max-device-width:800px) {
	#anniversary-coverage {
		min-height: auto !important;
	}
}


#anniversary-coverage .rel {
	position: relative;
}

#anniversary-coverage h3 {
	color: #fff;
	padding: 30px 0 30px 0;
}

#anniversary-coverage p.lead {
	color: #959595;
	font-weight: 300;
	line-height: 40px;
	font-size: 26px;
} 



/* Logotypes */

#anniversary-coverage .slides {
	margin-top: 700px;
}


/* Animated points */

.point {
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background: #d30b36;
	position: absolute;
    animation: coverage_animation infinite;
}

.point1 {
 	left: 226px;
    top: 291px;
    animation-duration: 3s;
    animation-delay: 0.5s;
}

.point2 {
	left: 585px;
    top: 433px;
    animation-duration: 3s;
    animation-delay: 1s;
}

.point3 {
	left: 372px;
    top: 543px;
    transition-delay: 2s;
    animation-duration: 3s;
    animation-delay: 0s;
}

.point4 {
	left: 299px;
    top: 500px;
    animation-duration: 3s;
    animation-delay: 0s;
}

.point5 {
	left: 322px;
    top: 600px;
    animation-duration: 3s;
    animation-delay: 0.5s;
}

.point6 {
    right: 536px;
    top: 309px;
    animation-duration: 3s;
    animation-delay: 0s;
}

.point7 {
    right: 558px;
    top: 343px;
    animation-duration: 3s;
    animation-delay: 1s;
}

.point8 {
    right: 199px;
    top: 300px;
    animation-duration: 3s;
    animation-delay: 0.5s;
}

.point9 {
    right: 616px;
    top: 343px;
    animation-duration: 3s;
    animation-delay: 2s;
}

.point10 {
    right: 599px;
    top: 300px;
    animation-duration: 3s;
    animation-delay: 2.5s;
}

.point11 {
    right: 498px;
    top: 307px;
    animation-duration: 3s;
    animation-delay: 1s;
}

.point12 {
    right: 190px;
    top: 395px;
    animation-duration: 3s;
    animation-delay: 0.5s;
}

.point13 {
    right: 323px;
    top: 431px;
    animation-duration: 3s;
    animation-delay: 2s;
}

.point14 {
    right: 374px;
    top: 365px;
    animation-duration: 3s;
    animation-delay: 2.5s;
}

.point15 {
    left: 248px;
    top: 380px;
    animation-duration: 3s;
    animation-delay: 2s;
}

.point16 {
    right: 535px;
    top: 580px;
    animation-duration: 3s;
    animation-delay: 2.5s;
}


@keyframes coverage_animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }
}


/* FIX */

@media all and (max-width: 1170px) {
	.point { display: none; }
}

.owl-carousel img { 
	width: auto !important;
	margin: 0 auto;

}

/******* END: SECTION: COVERAGE MAP ******/




/******** SECTION TESTIMONIALS **********/


section#testimonials {
	margin-top: 50px;
	padding-top: 15px !important;
	padding-bottom: 0 !important;
}

section#testimonials h3 {
	padding: 30px 0 10px 0;
}

section#testimonials h4 {
	font-size: 34px;
	font-weight: 100;
	color: #6f6f6f;
	padding-bottom: 100px;
	display: block;
	position: relative;
}

section#testimonials h4::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 1px;
	background: red;
	left: calc(50% - 15px);
	bottom: 25px;
}

section#testimonials .single {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 50px;
	margin-bottom: 50px;
	width: 100%;
	clear: both;
	display: table;
	position: relative;
	padding: 80px 0;
	font-size: 24px;
	font-size: 22px;
    line-height: 36px;
}

section#testimonials .single:last-child {
	border-bottom: none !important;
	margin-bottom: 0 !important
}

section#testimonials .single::before {
	content:'';
	bottom: -1px;
	left: 0;
	width: 2000px;
	height: 1px;
	background: #e3e3e3;
	position: absolute;
}

section#testimonials .single::after {
	content:'';
	bottom: -1px;
	right: 0;
	width: 2000px;
	height: 1px;
	background: #e3e3e3;
	position: absolute;
}

section#testimonials .second p.author, #testimonials .fourth p.author {
	margin-top: 30px; 
	padding-right: 50px;
	text-align: right;
	position: relative;
}

section#testimonials .second p.author::before, #testimonials .fourth p.author::before {
	position: absolute;
	top: 15px;
	left: auto !important;
	right: 0;
	width: 30px;
	height: 2px;
	background: #de5c78;
	content: '';
}


section#testimonials .single p.author {
	margin-top: 30px; 
	padding-left: 50px;
	position: relative;
	color: #6c6c6c;
	font-size: 16px;
}

section#testimonials .single p.author::before {
	position: absolute;
	top: 15px;
	left: 0;
	width: 30px;
	height: 2px;
	background: #de5c78;
	content: '';
}


/* Animations */


section#testimonials .single .avatar{
	animation-duration: 0.3s;
	animation-delay: 0.3s;
}

section#testimonials .single .sentence{
	animation-duration: 1s;
	animation-delay: 0.3s;
}

@media all 
and (min-device-width : 300px) 
and (max-device-width : 640px) 
and (orientation: portrait) {

	section#testimonials .single .sentence { 
		font-size: 14px;
    	line-height: 25px;
	}

	section#testimonials .single p.author {
		padding: 0 !important;
		line-height: 26px;
	    text-align: center !important;
	}

	section#testimonials .single p.author::before {
		width: 0 !important;
		height: 0 !important;
	}
}	


section#testimonials .single .author{
	animation-duration: 1s;
	animation-delay: 0.6s;
}


/* Fix */

body.anniversary .avatar-mini {
	margin: 20px auto 0 auto; 
	width: 100px; 
	height: auto;
}


/******** END: SECTION TESTIMONIALS **********/






/******** SECTION: AWARDS **********/


section#awards {
	background: url('/static/img/anniversary/awards_bg.png') #000000 no-repeat left center;
	color: #fff;
	padding-bottom: 0 !important;
	width: 100%;
	display: block;
}

section#awards .lhs {
	width: 40%;
	margin-left: 10%;
	float: left;
}

section#awards .lhs h3 {
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 50px;
	line-height: 40px;
}

section#awards .lhs ul li {
	width: 100%;
	clear: both;
	padding-bottom: 30px;
}

section#awards .lhs h3 img {
	display: inline-block;
	padding-right: 30px;
	margin-right: 30px;
	border-right: solid 1px #1aa98a;
}

section#awards .lhs h4 {
	font-weight: 600;
	font-size: 20px;
	color: #fff;
}

section#awards .lhs p {
	color: #7f7f7f;
	font-weight: 300;
	font-size: 17px;	
}

section#awards .rhs {
	width: 50%;
	float: right;
}

section#awards .rhs {
	padding-left: 50px;
}

section#awards .rhs .wrapper img {
	max-width: 918px;
}

section#awards ul li.first {
	animation-duration: 1s;
	animation-delay: 0s;
}
section#awards ul li.second {
	animation-duration: 1s;
	animation-delay: 1s;
}
section#awards ul li.third {
	animation-duration: 1s;
	animation-delay: 1.5s;
}
section#awards ul li.fourth {
	animation-duration: 1s;
	animation-delay: 2s;
}

section#awards .devices {
	animation-duration: 1s;
	animation-delay: 0.5s;
	opacity: 1 !important;
}

/******** END: SECTION: AWARDS **********/



#first-payment-video {
	background: #fff;
    padding: 30px;
    border-radius: 10px;
    float: left;
    width: 100%;
    min-height: 500px;
}

#first-payment-video #video-container-box, #first-payment-video #video-container, #first-payment-video #video-container iframe {

	width: 100% !important;
    height: auto !important;
    min-height: 370px;
    max-height: auto;
    margin-top: 25px;
}



/******** CUSTOMISED FOOTER **********/


body.anniversary footer h4{ 
	color: #fff !important;
}

body.anniversary footer a:hover {
	color: #fff !important;
}
body.anniversary footer a:hover {
	color: #d30b36;
}
body.anniversary footer .button{
	border: 1px solid #d30b36 !important;
}
body.anniversary footer .button:hover{
	background: #d30b36 !important;
	color: #fff;
}
body.anniversary footer .contact a {
	color: #d30b36 !important;
	font-weight: 400;
}
body.anniversary footer .languageSelector span:before {
    background: url(../../img/new/miniMap_pink.png) !important;
}
body.anniversary footer .languageSelector select {
    color: #EF345D;
    font-weight: 400;
}
body.anniversary #site > footer {
	background: #010305 !important;
	padding-top: 30px !important;
}

body.anniversary .ue-logo {
	display: none !important;
}

body.anniversary input:-webkit-autofill, body.anniversary textarea:-webkit-autofill, body.anniversary select:-webkit-autofill {
	background: transparent !important;
	background-color: transparent !important;
}


/******** END: CUSTOMISED FOOTER **********/








/***********************************************
/***********************************************

/***** ANNIVERSARY SUBPAGE MEDIA QUERIES ******

/***********************************************
/***********************************************/






/********* MEDIA QUERIES FOR MOBILE PHONES - PORTRAIT *******/

@media all
and (min-device-width : 300px) 
and (max-device-width : 640px) 
and (orientation: portrait) {

	body.anniversary #videobg { opacity: 0.3 !important; alpha: 30% !important; }
	body.anniversary header.header h1 { font-size: 40px !important; }
	body.anniversary p.intro { font-size: 22px; }
	body.anniversary h3 { font-size: 24px; }
	.generate-video-border { display: block; height: 46px;}
	#generate-video .submit { margin-top: 25px; }
	#generate-video i { display: none; }
	#anniversary-growthmetrix .section { font-size: 23px; }
	#anniversary-growthmetrix .number { font-size: 42px; letter-spacing: -0.5; text-shadow:none;}
	#anniversary-growthmetrix p.desc { font-size: 19px }
	#pagevies, #uu, #data, .add_color {	margin-bottom: 30px; }
	#anniversary-coverage { background-size: 100%; background-position-y: 400px; padding: 30px 0 !important}
	#anniversary-coverage p.lead { line-height: 30px; font-size: 17px; font-weight: 400; }
	#anniversary-coverage .slides { margin-top: 250px; }
	#anniversary-coverage .owl-carousel .owl-item { padding-left: 10px; padding-right: 10px;}
	body.anniversary img.avatar { display: none !important; }
	body.anniversary header.header .hero {
	    margin: 30px auto 0 auto;
  	}

	body.anniversary .graphs > .first { padding-bottom: 50px;}

	body.anniversary header.header svg { bottom: -150px; }

	#testimonials h4 { font-size: 25px; font-weight: 300; padding-bottom: 80px; }
	#testimonials .single:first-child { padding-top: 30px !important; padding-bottom: 50px; margin-bottom: 0px;}
	#testimonials .single {font-size: 14px; line-height: 22px; padding: 20px 0; margin-bottom: 30px; text-align: center; width: 100%;}
	#testimonials .single p.author { font-size: 12px; padding-left: 0; text-align: center;}
	#testimonials .single p.author::before { background: none;}
	#testimonials .second p.author, #testimonials .fourth p.author { padding-right: 0}

	body.anniversary header.header {
		height: calc(100vh) !important;
		height: 100vh !important;
	    min-height: 100vh !important;   
	}
	body.anniversary header.header h1,
	body.anniversary header.header h2,
	body.anniversary header.header img,
	body.anniversary header.header i,
	body.anniversary header.header form {
		opacity: 1 !important;
	}
	header.header #videobg {
		opacity: 0.25 !important;
	}
	body.anniversary video {
		background-size: contain !important; 
		background-position: 0 0;
	}
	header.header svg {
		bottom: -100px;
	}

	#anniversary-growthmetrix #number-of-all-mentions {
		font-size: 40px;
	}

	section#awards .lhs {
  		width: 100% !important;
  		margin: 0 5%;
  	}

  	section#awards .lhs ul {
  		width: 100%;
  	}
  	section#awards .lhs ul li {
  		width: 100%;
  		vertical-align: top;
  	}

  	section#awards .rhs {
  		width: 100%;
  		margin: 0 5%;
  	}

  	section#awards .lhs h3 img {
	    display: block;
	    padding-bottom: 20px;
	    padding-right: 0;
	    border-right: none;
        margin: 0 auto;
	}

	section#awards .lhs h3 { font-size: 26px; font-weight: 400; text-align: center; width: 95%;}

	#anniversary-growthmetrix #stats .col20 {
	    width: 100%;
    	max-width: 100%;
    	border-right: none;
	}

	#anniversary-coverage { background-position-y: 340px; }
	#anniversary-growthmetrix #stats .number {
		font-size: 36px !important
	}
}

/********* END: MEDIA QUERIES FOR MOBILE PHONES - PORTRAIT *******/






/********* MEDIA QUERIES FOR iPHONE 5/5S - LANDSCAPE *******/

@media all
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

	body.anniversary header.header .top-bar { 
		top: 20px 
	}

	body.anniversary #videobg { 
		opacity: 0.3 !important; 
		alpha: 30% !important; 
	}

	body.anniversary header.header h1 {
		font-size: 30px !important; 
		line-height: 17px; 
		padding-top: 30px; 
	}

	body.anniversary p.intro { 
		font-size: 22px; 
	}

	body.anniversary header.header h2 {
	    font-size: 15px !important;
	    font-weight: 400;
	    padding-bottom: 0px;
	    margin-bottom: 0;
	}

	body.anniversary h3 { 
		font-size: 26px; 
	}

	#generate-video .email { 
		width: 100%;
	}

	body.anniversary header.header svg { 
		display: none; 
	}

	.generate-video-border { 
		display: block; 
		height: 46px;
	}

	#generate-video .submit { 
		margin-top: 25px; 
	}

	#generate-video i { 
		display: none; 
	}

	#anniversary-growthmetrix .section { 
		font-size: 23px; 
	}

	#anniversary-growthmetrix .number { 
		font-size: 42px; 
		letter-spacing: -0.5; 
		text-shadow:none;
	}

	#pagevies, #uu, #data, .add_color {	
		margin-bottom: 30px; 
	}

	#anniversary-coverage { 
		background-size: 100%; 
		background-position-y: 400px; 
		padding: 30px 0 !important
	}

	#anniversary-coverage p.lead { 
		line-height: 30px; 
		font-size: 17px; 
		font-weight: 400; 
	}

	#anniversary-coverage .slides { 
		margin-top: 250px; 
	}

	#anniversary-coverage .owl-carousel .owl-item { 
		padding-left: 10px; 
		padding-right: 10px;
	}

	body.anniversary img.avatar { 
		display: none !important; 
	}

	body.anniversary .graphs > .first { 
		padding-bottom: 50px;
	}

	#testimonials h4 { 
		font-size: 25px; 
		font-weight: 300; 
		padding-bottom: 80px; 
	}

	#testimonials .single:first-child { 
		padding-top: 30px !important; 
		padding-bottom: 50px; 
		margin-bottom: 0px;
	}

	#testimonials .single {
		font-size: 14px; 
		line-height: 22px; 
		padding: 20px 0; 
		margin-bottom: 30px; 
		text-align: center; 
		width: 100%;
	}

	#testimonials .single p.author { 
		font-size: 12px; 
		padding-left: 0; 
		text-align: center;
	}

	#testimonials .single p.author::before { 
		background: none;
	}

	#testimonials .second p.author, #testimonials .fourth p.author { 
		padding-right: 0
	}

	body.anniversary header.header { 
		height: calc(100vh) !important; 
		height: 100vh !important; 
		min-height: 100vh !important; 
	}

	body.anniversary header.header h1,
	body.anniversary header.header h2,
	body.anniversary header.header img,
	body.anniversary header.header i,
	body.anniversary header.header form {
		opacity: 1 !important;
	}
	header.header #videobg {
		opacity: 0.25 !important;
	}
	body.anniversary video {
		background-size: contain !important; 
		background-position: 0 0;
	}
	#anniversary-growthmetrix #number-of-all-mentions {
		font-size: 40px;
	}

	section#awards .lhs {
  		width: 100% !important;
  		margin: 0 5%;
  	}

  	section#awards .lhs ul {
  		width: 100%;
  	}
  	section#awards .lhs ul li {
  		width: 100%;
  		vertical-align: top;
  	}

  	section#awards .rhs {
  		width: 100%;
  		margin: 0 5%;
  	}

  	section#awards .lhs h3 img {
	    display: block;
	    padding-bottom: 20px;
	    padding-right: 0;
	    border-right: none;
        margin: 0 auto;
	}

	section#awards .lhs h3 { 
		font-size: 26px; 
		font-weight: 400; 
		text-align: center; 
		width: 95%;
	}

	#anniversary-growthmetrix #stats .col20 {
	    width: 100% !important;
    	max-width: 100%;
    	border-right: none;
    	display: block !important;
	}

	#anniversary-coverage { 
		background-position-y: 280px; 
	}

}

/********* END: MEDIA QUERIES FOR iPHONE 5/5S - LANDSCAPE *******/




/********* MEDIA QUERIES FOR MOBILE - LANDSCAPE *******/

@media all
    and (-webkit-min-device-pixel-ratio: 2) 
    and (min-resolution: 192dpi)
    and (max-height: 500px)
    and (orientation: landscape) {

	body.anniversary header.header {
		height: calc(100vh) !important;
		height: 100vh !important;
	    min-height: 100vh !important;   
	}
	body.anniversary header.header h1,
	body.anniversary header.header h2,
	body.anniversary header.header img,
	body.anniversary header.header i,
	body.anniversary header.header form {
		opacity: 1 !important;
	}
	header.header #videobg {
		opacity: 0.25 !important;
	}
	body.anniversary video {
		background-size: contain !important; 
		background-position: 0 0;
	}
	header.header svg {
		display: none !important;
	}

	body.anniversary h3 {
		font-size: 30px;
	}

	body.anniversary header.header h1 {
	    font-size: 43px !important;
	    letter-spacing: 3px;
	    font-weight: 900;
	    padding-top: 0px !important;
	    padding-bottom: 0;
	    margin-bottom: 0;
	}

	body.anniversary header.header h2 {
		padding-bottom: 20px;
		font-size: 16px !important;
	}

	#anniversary-growthmetrix .graphs > .first, 
	#anniversary-growthmetrix .graphs > .second {

		max-width: 49% !important;
   		display: inline-block !important;
	}

	#anniversary-coverage .slides {
	    margin-top: 360px;
	}

	#testimonials h4 { 
		font-size: 25px; 
		font-weight: 300; 
		padding-bottom: 80px; 
	}

	#testimonials .single:first-child { 
		padding-top: 30px !important; 
		padding-bottom: 50px; 
		margin-bottom: 0px;
	}

	#testimonials .single {
		font-size: 14px; 
		line-height: 22px; 
		padding: 20px 0;
		margin-bottom: 30px; 
		text-align: center; 
		width: 100%;
	}

	#testimonials .single p.author { 
		font-size: 12px; 
		padding-left: 0; 
		text-align: center;
	}

	#testimonials .single p.author::before {
		background: none;
	}

	#testimonials .second p.author, #testimonials .fourth p.author { 
		padding-right: 0
	}

	section#awards .lhs {
	    width: 45%;
    	margin-left: 5%;
	}

	section#awards .lhs h3 {
		font-size: 24px;
    	font-weight: 300;
	}

	body.anniversary img.avatar {
		display: none;
	}

	#anniversary-growthmetrix #stats .col20 {
		padding: 30px 15px 0 15px;
		display: table-cell;
		border-right: none;
	}

	#anniversary-growthmetrix #stats .number {
		font-size: 21px !important;
    	letter-spacing: -1px;
	}

	#anniversary-growthmetrix #stats .name {
		font-size: 12px;
	}

	section#awards .lhs, section#awards .lhs ul {
  		width: 100%;
  	}
  	section#awards .lhs ul li {
  		width: 100%;
  		vertical-align: top;
  	}

  	section#awards .rhs {
  		width: 100%;
  		margin: 0 5%;
  	}

  	body.anniversary header.header .hero {
	    margin: 30px auto 0 auto;
  	}

  	#funfacts .first-row,
	#funfacts .second-row {
		padding-bottom: 0 !important;
		padding-top: 30px !important;
		width: 49% !important;	
   		display: inline-block !important;
	}
}







/********* MEDIA QUERIES FOR TABLETS: Portrait *******/


@media all 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait)  {

	body.anniversary header.header {
		height: calc(100vh) !important;
		height: 100vh !important;
	    min-height: 100vh !important;   
	}
	body.anniversary header.header h1,
	body.anniversary header.header h2,
	body.anniversary header.header img,
	body.anniversary header.header i,
	body.anniversary header.header form {
		opacity: 1 !important;
	}

	body.anniversary h3 {
	    font-size: 34px;
	}

	header.header #videobg {
		opacity: 0.25 !important;
	}
	body.anniversary video {
		background-size: contain !important; 
		background-position: 0 0;
	}
	header.header svg {
		bottom: -100px;
	}

	#anniversary-coverage .slides { 
		margin-top: 320px; 
	}
  	
  	section#awards .lhs {
  		width: 100% !important;
  		margin: 0 5%;
  	}

	section#awards .lhs .first, section#awards .lhs .third {
		margin-right: 30px;
	}

  	section#awards .lhs ul {
  		width: 100%;
  	}
  	section#awards .lhs ul li {
  		display: inline-block;
  		width: 45%;
  		vertical-align: top;
  	}

  	section#awards .rhs {
  		width: 100%;
  		margin: 0 5%;
  	}
  	#testimonials .single {
  		font-size: 18px;
    	line-height: 31px;
  	}

  	#anniversary-growthmetrix #number-of-all-mentions {
  		font-size: 60px;
  	}

  	#anniversary-growthmetrix p.desc {
  		font-size: 18px;
  	}

  	#anniversary-growthmetrix #stats {
  		margin: 10px 0;
  	}

  	#anniversary-growthmetrix #stats .col20 {
  		padding: 40px 14px;
  		display: block;
  		float: left;
  		border-right:none;
  	}
  	#anniversary-growthmetrix #stats .number {
  		font-size: 30px;
  	}
	#anniversary-growthmetrix #stats .name {
	  	font-size: 11px;
	    line-height: 14px;
	}

	body.anniversary img.avatar{
		display: block
	}

	#funfacts .first-row {
	    padding-bottom: 30px;
	}
	#anniversary-growthmetrix #stats .name, #funfacts .name {
		font-size: 11px;
	}
}




/********* MEDIA QUERIES FOR iPad Mini Retina: Portrait *******/



@media all 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
      
	body.anniversary header.header {
		height: calc(100vh) !important;
		height: 100vh !important;
	    min-height: 100vh !important;   
	}
	body.anniversary header.header h1 {
    	font-size: 54px !important;
	}

	body.anniversary header.header h1,
	body.anniversary header.header h2,
	body.anniversary header.header img,
	body.anniversary header.header i,
	body.anniversary header.header form {
		opacity: 1 !important;
	}
	header.header #videobg {
		opacity: 0.25 !important;
	}
	body.anniversary video {
		background-size: contain !important; 
		background-position: 0 0;
	}
	header.header svg {
		bottom: -100px;
	}

	#anniversary-coverage .slides { 
		margin-top: 320px; 
	}
  	
  	section#awards .lhs {
  		width: 100% !important;
  		margin: 0 5%;
  	}

	section#awards ul li {
		margin-right: 30px;
	}

  	section#awards .lhs ul {
  		width: 100%;
  	}
  	section#awards .lhs ul li {
  		display: inline-block;
  		width: 45%;
  		vertical-align: top;
  	}

  	section#awards .rhs {
  		width: 100%;
  		margin: 0 5%;
  	}
  	#testimonials .single {
  		font-size: 18px;
    	line-height: 31px;
  	}

  	#anniversary-growthmetrix #number-of-all-mentions {
  		font-size: 60px;
  	}

  	#anniversary-growthmetrix p.desc {
  		font-size: 18px;
  	}

  	#anniversary-growthmetrix #stats {
  		margin: 10px 0;
  	}

  	#anniversary-growthmetrix #stats .col20 {
  		padding: 40px 10px;
  		display: block;
  		float: left;
  		border-right:none;
  	}
  	#anniversary-growthmetrix #stats .number {
  		font-size: 30px;
  	}
	#anniversary-growthmetrix #stats .name {
	  	font-size: 11px;
	    line-height: 14px;
	}

	body.anniversary img.avatar{
		display: block
	}

	body.anniversary header.header .hero {
	    margin: 20vh auto 0 auto;
	}
	#anniversary-growthmetrix #stats .name, #funfacts .name {
		font-size: 11px;
	}
}




/********* MEDIA QUERIES FOR TABLETS: LANDSCAPE *******/


@media all 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation: landscape)  {

	body.anniversary header.header {
		height: calc(100vh) !important;
		height: 100vh !important;
	    min-height: 100vh !important;   
	}
	body.anniversary header.header h1,
	body.anniversary header.header h2,
	body.anniversary header.header img,
	body.anniversary header.header i,
	body.anniversary header.header form {
		opacity: 1 !important;
	}
	header.header #videobg {
		opacity: 0.25 !important;
	}
	body.anniversary video {
		background-size: contain !important; 
		background-position: 0 0;
	}
	header.header svg {
		bottom: -100px;
	}

	#anniversary-coverage .slides {
	    margin-top: 700px !important;
	}

	section#awards .lhs {
	    width: 45%;
    	margin-left: 5%;
	}

	section#awards .lhs h3 {
		font-size: 24px;
    	font-weight: 300;
	}

	body.anniversary img.avatar {
		display: block !important;
	}

	#anniversary-growthmetrix #stats .number {
		font-size: 26px !important;
	}

	#anniversary-growthmetrix #stats .name {
		font-size: 12px;
	}
	#anniversary-growthmetrix #stats .col20 {
		padding: 30px 38px 0px 38px;
	}
}

/***** FIXES OF DEFAULT CSS *****/

@media all
and (min-device-width: 320px)
and (max-device-width: 768px)
and (orientation:portrait) {

	#anniversary-growthmetrix .graph1 img {
		padding-bottom: 50px
	}

	#funfacts aside {
		padding-bottom: 50px;
	}
	#funfacts aside .col-sm-4 {
		padding-bottom: 50px;
	}
	#funfacts row .col-sm-4:last-child {
		padding-bottom: 0px;
	}

	#funfacts .first-row {
		padding-bottom: 0;
	}

	#funfacts .single {
		padding-bottom: 30px;
	}
}

@media all 
and (min-device-width:1170px)
and (min-device-height:800px) {
	#anniversary-growthmetrix #stats .col20 {
	    display: table-cell;
	}
}

body.anniversary #video-container-box, #video-container, #video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	min-height: calc(100vh);
	min-height: 100vh;
	z-index: 9999;
}

body.anniversary #video-container iframe {
	z-index: 99999 !important
}


#gradient-stripe {
	width: 100%;
	height: 2px;
	clear: both;
	padding: 0 !important;
	background: rgb(158,15,46);
	background: -moz-linear-gradient(-90deg,  rgba(158,15,46,1) 0%, rgba(64,42,102,1) 100%);
	background: -webkit-linear-gradient(-90deg,  rgba(158,15,46,1) 0%,rgba(64,42,102,1) 100%);
	background: linear-gradient(-90deg,  rgba(158,15,46,1) 0%,rgba(64,42,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0f2e', endColorstr='#402a66',GradientType=1 );
}


.flowplayer .fp-engine, .flowplayer .fp-player, .flowplayer .fp-ui, .flowplayer .fp-message {
  top: -120px !important;
  left: -180px !important;
  width: 125% !important;
  height: 130% !important;
}

/***** END: FIXES OF DEFAULT CSS *****



.vm-scenario-container .flowplayer .fp-engine,
.vm-scenario-container .flowplayer .fp-ui,
.vm-scenario-container .flowplayer .fp-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

#video-container-box .vm-scenario-container .flowplayer .fp-engine, #video-container-box .vm-scenario-container .flowplayer .fp-ui, #video-container-box .vm-scenario-container .flowplayer .fp-message {
  top: -125px !important;
  left: -180px !important;
  width: 125% !important;
  height: 130% !important;
}

*/

img.fbog {
	width:1px; 
	height:1px; 
	position:absolute;
	top: 1px;
}


@media all
and (max-device-width:480px)
and (max-height: 480px) {

	body.anniversary header.header h1 { 
		display: none !important
	}

	body.anniversary header.header h2 {
	    font-size: 16px !important;
	    padding-bottom: 20px !important;
	}

	body.anniversary header.header .hero {
		margin: -25px auto 0 auto !important;
	}


}


