body.features {
  text-align: inherit;
}

h1,
h2,
h3,
h4 {
  display: block !important;
}

.soon {
  color: #e3e3e3 !important;
}

header.header {
  background: url(../img/headers/features.jpg);
}

/**
header.header .btn-cta, .item-description .btn-cta {
	background: #1aa98a;
	color: #fff;
	font-size: 13px;
	padding:12px 40px;
	border-radius: 4px;
	clear: both;
	display: table;
	margin: 30px auto 0 auto!important;
	width: auto;
	text-transform: uppercase;
	font-weight: 400;
}
**/

header.header .btn-cta:hover {
  background: rgba(26, 169, 138, 0.6) !important;
  color: #fff !important;
  border-radius: 4px;
  border: 1px solid #fff !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  border: none !important;
}

header.header .btn-outline,
.item-description .btn-outline {
  background: none;
  color: #1aa98a;
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 1px solid #1aa98a;
  clear: both;
}

body.features .btn-outline:hover {
  background: #1aa98a;
  color: #fff;
}

body.features .owl-carousel .owl-item {
  padding: 0 !important;
}

/***** 

body.features .subnav {
	border-bottom: #EAEBEE 1px solid;
	padding:0;
}

body.features .subnav ul {
	padding: 15px 0 0 0;
	margin: 0 auto;
	width: auto;
}

body.features .subnav ul li {
	text-transform: uppercase;;
	color: #6A747A;
	font-size: 14px;
	padding-right: 30px;
	float: left;
	list-style: none;
	letter-spacing: -0.5px;
	margin:0 !important;
	border: none;
}

body.features .subnav ul li a {
	color: #6A747A;
}

body.features .subnav ul li a:hover {
	color: #1aa98a;
	background:none;
}

body.features .subnav ul li a.active {
	color: #1aa98a;
	border-bottom: 2px solid #1aa98a;
	padding-bottom: 45px;
}

body.features .subnav ul li:last-child {
	padding-right:0 !important;
}

body.features .subnav ul li:last-child a {
	padding: 0;
}

body.features .subnav ul li:hover {
	background:none;
    border: none;
}

*****/

/**** SLIDES ****/

body.features .flexslider-features .row {
  max-width: 95%;
  min-height: 400px;
}

body.features .flexslider-features .item-description {
  max-width: 400px;
  margin-top: 10%;
}

body.features .flexslider-features .item-description svg {
  padding-bottom: 15px;
}

body.features .flexslider-features ul.slides {
  clear: both;
  float: left;
  width: 100%;
  position: relative;
}

body.features .slide-pagination {
  position: absolute;
  right: 0;
  top: 30%;
  text-align: right;
  z-index: 9999;
}

body.features .slide-pagination li {
  position: relative;
  overflow: hidden;
  padding: 0 40px 20px 0;
  font-size: 12px;
  text-transform: uppercase;
}

body.features .slide-pagination li:hover {
  padding: 0 60px 20px 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

body.features .slide-pagination li:hover {
  color: #1aa98a !important;
}

body.features .flex-control-nav .flex-active {
  color: #1aa98a !important;
}

body.features .slide-pagination li::after {
  position: absolute;
  content: "";
  right: -35%;
  top: 7px;
  width: 100px;
  height: 1px;
  background: #e3e3e3;
}

body.features .slide-pagination li a {
  color: #333;
}

@media all and (max-width: 1280px) {
  body.features .slide-pagination {
    display: none;
  }
}

body.features .flexslider-features .customNavigation a {
  width: 40px;
  height: 40px;
  border: 1px solid #e3e3e3;
  color: #e3e3e3;
  padding: 8px 15px;
  border-radius: 50%;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}

body.features .flexslider-features .customNavigation a:hover {
  color: #1aa98a;
  border: solid 1px #1aa98a;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

body.features .item-description h3 {
  font-weight: 300;
  font-size: 42px !important;
  color: #3b4349 !important;
  line-height: 47px !important;
}

body.features .item-description h3,
.item-description p {
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 18px;
  color: #5b5b61;
  line-height: 30px;
}

body.features .item-description h4 {
  font-weight: 300;
  font-size: 32px !important;
  color: #3b4349 !important;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

body.features .item-description h4::after {
  width: 30px;
  height: 1px;
  background: #1aa98a;
  left: 0%;
  bottom: 0;
  position: absolute;
  content: "";
}

body.features .section-intro {
  margin-bottom: 50px;
}

@media all and (max-width: 800px) {
  body.features .item-description {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  body.features .owl-carousel .row {
    max-width: 100%;
    min-height: 0;
  }

  body.features .owl-carousel .item-description {
    max-width: 100%;
  }

  .slider-desc {
    padding-top: 30px;
  }

  body.features .item-description h4 {
    padding-top: 20px;
  }

  body.features .item-description h4::after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

body.features .section-intro h3 {
  font-weight: 500;
  font-size: 32px !important;
  padding-bottom: 15px;
  color: #1aa98a !important;
}

body.features .section-intro h4 {
  font-weight: 300;
  font-size: 19px !important;
  color: #3b4349 !important;
}

body.features section.grey {
  background: url(../img/features/new/cards-bg.jpg) #1aa98a;
  padding: 80px 0;
  margin: 50px 0;
}

body.features .card {
  background: #fff;
  border-radius: 2px;
  min-height: 200px;
  text-align: center !important;
  padding-bottom: 15px;
  min-height: 480px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(17, 87, 71, 0.4);
  -moz-box-shadow: 0px 0px 15px 0px rgba(17, 87, 71, 0.4);
  box-shadow: 0px 0px 15px 0px rgba(17, 87, 71, 0.4);
}

@media all and (max-width: 800px) {
  .card-margin {
    margin-bottom: 30px;
  }
}

body.features .card img {
  padding-bottom: 15px;
}

body.features .card h4 {
  font-size: 26px !important;
}

body.features .card h4::after {
  left: 48% !important;
  background: #fff;
}

body.features .card p {
  font-size: 16px !important;
  line-height: 26px;
}

body.features .card h4,
.card p {
  padding: 0 15px;
}

body.features .section-filtering {
  background: #ebedf2;
  color: #fff;
  padding-top: 30px;
  margin: 50px 0 0 0;
}

body.features .section-filtering h4 {
  font-weight: 300;
  font-size: 33px !important;
  color: #fff !important;
  padding-bottom: 30px;
}

body.features .section-filtering p {
  font-size: 16px !important;
  line-height: 26px;
}

body.features .section-map {
  background: url(../img/features/new/map.gif) no-repeat center center;
  background-size: contain;
  font-size: 16px;
  font-weight: 300;
}

body.features .section-map .description {
  padding: 120px 0;
}

body.features .section-map img {
  padding-bottom: 20px;
}

body.features .section-map h3 {
  font-size: 38px;
  font-weight: 300;
  color: #1aa98a;
}

body.features .section-map h4 {
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 20px;
}

body.features .section-map .btn-cta {
  padding: 15px 50px;
  margin-top: 30px;
  font-weight: 400;
}

@media all and (max-width: 800px) {
  body.features .section-map h3 {
    font-size: 24px;
    font-weight: 500;
    color: #1aa98a;
    padding-bottom: 20px;
  }
}

body.features .section-cta {
  background: #1aa98a;
  padding: 15px 0 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

/*** FIXY ***/

@media all and (max-width: 800px) {
  body.features .flexslider-features .row {
    max-width: 100% !important;
    margin: 0 auto;
  }

  body.features .divider i {
    left: 44% !important;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  body.features .flexslider-features .row,
  body.features .flexslider-features .item-description {
    max-width: 100% !important;
    margin: 0 auto;
  }

  body.features .divider i {
    left: 44% !important;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body.features .item-description {
    width: 100% !important;
    max-width: 100% !important;
  }
  body.features img.graphic {
    max-width: 460px;
    margin: 0 auto;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body.features .flexslider-features .row,
  body.features .flexslider-features .item-description {
    max-width: 100% !important;
    margin: 0 auto;
  }

  body.features .divider i {
    left: 44% !important;
  }

  body.features .animation {
    padding-top: 50px;
  }
}

/* iPads Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body.features .card-margin {
    width: 33.3% !important;
    margin-left: 0px !important;
  }
}

/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
  body.features .flexslider-features .row,
  body.features .flexslider-features .item-description {
    max-width: 100% !important;
    margin: 0 auto;
  }

  body.features .divider i {
    left: 44% !important;
  }

  header,
  header .bg {
    min-height: auto !important;
    min-height: auto !important;
    height: auto !important;
  }
}

