body.tour .btn-outline {
  font-size: 15px;
  padding: 13px 20px;
  margin: 30px 0;
}
body.tour input.btn-cta,
body.tour input.btn-cta-black {
  border: none !important;
}
body.tour input.btn-outline {
  background: transparent !important;
}
body.tour input.btn-outline:hover {
  background: #1aa98a !important;
}

.white {
  color: #fff;
}

.soon {
  color: #e3e3e3 !important;
}

body.tour header.header {
  background: url(../img/headers/features.jpg);
}

body.tour header.header .btn-cta,
.item-description .btn-cta {
  background: #1aa98a;
  color: #fff;
  font-size: 13px;
  padding: 14px 20px;
  border-radius: 4px;
  clear: both;
  display: table;
  margin: 30px auto 0 auto !important;
  width: auto;
  text-transform: uppercase;
  font-weight: 500;
}

body.tour header.header .btn-cta:hover {
  background: rgba(26, 169, 138, 0.6) !important;
  color: #fff !important;
  border-radius: 4px;
  border: 1px solid #fff !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  border: none !important;
}

body.tour header.header .btn-outline,
.item-description .btn-outline {
  background: none;
  color: #1aa98a;
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 1px solid #1aa98a;
  clear: both;
}

body.tour .btn-outline:hover {
  background: #1aa98a;
  color: #fff;
}

/***** Image half resizing CSS *****/

body.tour .half-image {
  text-align: center;
}

body.tour .half-image img {
  max-width: 80%;
  height: auto;
}

/** MEDIAQUERIES FOR TABLETS **/
@media all and (min-width: 768px) and (max-width: 800px) and (orientation: portrait) {
  body.tour .half-image img {
    max-width: 100%;
  }
  body.tour .desc p {
    font-size: 16px !important;
  }
}
/** END: MEDIAQUERIES FOR TABLETS **/

/***** END: Image half resizing CSS *****/

body.tour .desc h3 {
  font-weight: 300;
  font-size: 36px;
  color: #3b4349 !important;
  position: relative;
  padding-bottom: 25px;
}

@media all and (max-width: 800px) {
  body.tour .desc h3 {
    font-size: 24px !important;
    font-weight: 400;
  }
}

body.tour .desc h4 {
  font-weight: 400;
  font-size: 32px;
  color: #3b4349 !important;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

body.tour .desc p {
  font-weight: 300;
  font-size: 18px;
  color: #5b5b61;
  line-height: 30px;
}

body.tour .section-intro h3 {
  font-weight: 300;
  font-size: 36px !important;
  color: #3b4349 !important;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 50px;
}

@media all and (max-device-width: 416px) {
  body.tour .section-intro h3 {
    font-weight: 300;
    font-size: 28px !important;
    padding-bottom: 20px;
  }
}

body.tour .section-intro h4 {
  font-weight: 300;
  font-size: 19px !important;
  color: #8c949a !important;
  padding-bottom: 50px;
}

body.tour .dashed-border-right {
  border-right: dashed #e3e3e3 2px;
}

@media all and (max-width: 800px) {
  body.tour .dashed-border-right {
    border-right: none;
  }
}

body.tour .three-items {
  padding: 0 30px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  color: #5b5b61;
  line-height: 30px;
}

body.tour .three-items h3 {
  font-weight: 400;
  padding-bottom: 30px;
}

body.tour .three-items img {
  padding-bottom: 10px;
}

@media all and (min-width: 1024px) {
  body.tour .three-items img {
    max-width: 300px;
  }
}

body.tour .three-items h3 {
  font-size: 24px !important;
}

body.tour .two-items h3 {
  font-size: 24px !important;
  font-weight: 400;
}

/********* CLIENT LOGOTYPES TABLE ********/

#clients-grid {
  overflow-x: hidden;
}

#client-logotypes {
  margin: 30px 0;
  width: 100%;
  max-width: 100%;
}

#client-logotypes div {
  display: inline-block;
  height: 80px;
  text-align: center;
  vertical-align: middle;
}

@media all and (min-width: 801px) {
  #client-logotypes div {
    width: 19%;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
  }
}

#client-logotypes div:nth-child(5n) {
  border-right: none !important;
}

#client-logotypes div:nth-child(n + 6) {
  border-bottom: none !important;
}

#client-logotypes div img {
  max-width: 90%;
  height: auto;
}

/********* END: CLIENT LOGOTYPES TABLE ********/

body.tour .section-cta {
  background: #1aa98a;
  padding: 15px 0 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0;
}

body.tour .section-cta p {
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
  float: left;
}

body.tour .btn-cta-black {
  float: right;
}

@media all and (max-width: 800px) {
  body.tour .section-cta {
    padding: 30px 0;
  }

  body.tour .section-cta p {
    font-size: 18px;
    float: none !important;
    clear: both;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 0;
  }

  body.tour .btn-cta-black {
    display: inline-block !important;
    margin: 0 auto !important;
    float: none !important;
  }
}
