@import url(../tour.css);
@import url(../anniversary.css?v=17);

*:focus {
	outline: 0;
}
body{
	background: #f7f8fa;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	font-family: 'Roboto', sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-smooth: always !important;
	overflow-x: hidden;
}

body.isOpen{
	position: absolute;
	margin-left: -70%;
}
::selection {
	background: #01b6b3;
	color: #ffffff;
}
::-moz-selection {
	background: #01b6b3;
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.zindex {
	z-index: 9999;
	position: relative;
}

.centerize {
	margin-top: 10%;
}

.pt10 { padding-top: 10px;}
.pt20 { padding-top: 20px;}
.pt30 { padding-top: 30px;}

.pb10 { padding-bottom: 10px;}
.pb20 { padding-bottom: 20px;}
.pb30 { padding-bottom: 30px;}

.pr10 { padding-right: 10px;}
.pr20 { padding-right: 20px;}
.pr30 { padding-right: 30px;}

.pl10 { padding-left: 10px;}
.pl20 { padding-left: 20px;}
.pl30 { padding-left: 30px;}


.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}
.mt30 { margin-top: 30px;}

.mb10 { margin-bottom: 10px;}
.mb20 { margin-bottom: 20px;}
.mb30 { margin-bottom: 30px;}

.mr10 { margin-right: 10px;}
.mr20 { margin-right: 20px;}
.mr30 { margin-right: 30px;}

.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.ml30 { margin-left: 30px;}

.table {
	display: table;
}

.table .table-cell {
	display: table-cell;
	height: 100%;
	float: none;
}


.padding {
	padding: 100px 0;
}



@media all and (max-width:800px) {
	.table .table-cell {
		display: block;
	}
}

.btn-cta-black {
	background: #000 !important;
	border-radius: 4px;
	padding: 12px 25px;
	display: inline-block;
	margin: 10px 10px 10px 0px;
	color: #fff !important;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}

.cta-mini {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 30px 0;
	display: block;
}

.cta-mini i {
	padding-left: 15px;
	font-size: 12px;
}

.cta-mini:hover i {
	padding-left: 25px;
	transition: all 1s;
}

/*** DIVIDER ***/

.divider {
	border-bottom: solid 1px #e3e3e3;
	position: relative;
	margin: 50px 0;
}

.divider::before {
	content: '';
	right: 0;
	width: 2000px;
	height: 1px;
	background: #e3e3e3;
	position: absolute;
}

.divider::after {
	content: '';
	left: 0;
	width: 2000px;
	height: 1px;
	background: #e3e3e3;
	position: absolute;
}


.divider i {
	color: #01b6b3;
	font-size: 18px;
	padding:17px 20px;
	border: solid #e3e3e3 1px;
	border-radius:50%;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 48.4%;
	bottom: -25px;
	background: #fff;
	z-index: 999;
}

@media all and (max-device-width:368px) and (orientation: portrait) {
	.divider i {
		left: 44%;
	}
}
/*** END: DIVIDER ***/


/**** HEADING IN NEW STYLE: ALIGNED LEFT ****/

h3.heading {
	font-size: 38px;
	line-height: 39px;
	letter-spacing: 1.6px;
	font-weight: 300;
	padding-bottom: 0px;
	color: #000;
}

h3.heading span {
	font-weight: 700;
	font-size: 34px;
	letter-spacing: -0.2px;
	padding-left: 60px;
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 30px;
}

h3.heading span::after {
	width: 40px;
	height: 2px;
	background: #01b6b3;
	left: 0;
	top: 17px;
	position: absolute;
	content: '';
}
/**** END: HEADING IN NEW STYLE: ALIGNED LEFT ****/

/**** HEADING IN NEW STYLE: CENTERED ****/

h3.heading-centered {
	font-size: 29px;
	line-height: 34px;
	letter-spacing: 1.6px;
	font-weight: 300;
	padding-bottom: 0px;
	color: #000;
	text-align: center;
}

h3.heading-centered span {
	font-weight: 700;
	font-size: 28px;
	letter-spacing: -0.2px;
	padding-left: 0px;
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 50px;
}

h3.heading-centered span::after {
	width: 40px;
	height: 2px;
	background: #01b6b3;
	left: calc(50% - 20px);
	bottom: -25px;
	position: absolute;
	content: '';
}
/**** END: HEADING IN NEW STYLE: CENTERED ****/


/**** GREY BG SECTION FOR FLUIDS ****/
.greybg {
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 50px 0;
}
/**** END: GREY BG SECTION FOR FLUIDS ****/


nav.nav {
	width: 100%;
	padding-top: 20px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	box-sizing: border-box;
	z-index: 99999 !important;
	-webkit-transition: all 0.4s linear;
	transition: all 0.1s linear;
}
nav .logo{
	display: block;
}
nav .logo2{
	display: none;
}
nav .logo, nav .logo2 {
	float: left;
	margin-top: 3px;
}
@media all and (max-width: 800px) {
	nav .logo, nav .logo2 {
		margin-left: 0px;
	}
}
nav .logo img, nav .logo2 img {
	width: auto !important;
}

.logo:hover {
	opacity: 0.8;
}
.logo2:hover {
	opacity: 0.8;
}
nav ul{
	float: left;
	margin-left: 40px;
}
nav ul li{
	color: #ffffff;
	float: left;
	line-height: 32px;
}
nav ul li form {
	display: inline-block;
}
nav ul li a, nav ul li form a {
	height: 32px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}
nav ul li a:hover, nav ul li a:hover{
	cursor: pointer;
}
nav ul li+li{
	margin-left: 30px;
}

nav ul li+li i {
	padding-right: 7px;
}


nav ul.login {
	float: right;
}

nav ul.login li a.divide {
	position: relative;
	padding-right: 30px;
}

nav ul.login li a.divide::after {
	position: absolute;
	width: 1px;
	height: 20px;
	right: 0;
	top: -2px;
	content: '';
	background: #e3e3e3;
}

nav ul.login li strong {
	color: #000;
	font-weight: 500;
}

nav ul.login li a {
	text-decoration: none;
}
nav ul li.signup {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
	border: 1px solid #01b6b3;
}
nav ul li.signup a{
	padding: 0px 17px;
	color: #01b6b3 !important;
}

body.home nav ul li.signup a:hover {
	background: #f6fffd;
}

nav ul li.signup a:hover {
	background: #01b6b3;
	color: #fff !important
}

nav ul li.dashboard {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
	border: 1px solid #01b6b3;
}
nav ul li.dashboard a{
	padding: 0px 20px;
	color: #01b6b3 !important;
}
nav ul li.dashboard a:hover {
	text-decoration: none;
}


header{
	width: 100%;
	height: 100%;
	position: relative;
}
header .bg {
	min-height: calc(100vh);
	min-height: 100vh;
	width: 100%;
	background: #fff;
	background-size:cover;
	overflow: hidden;
}

@media all and (min-height:820px) {
	body.home header, header .bg {
		min-height: 820px !important;
		min-height: 820px !important;
		height: 820px !important;
	}
}

/***** TABLET VERSION ******/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	body.home header {
		padding-top: 100px;
	}
	body.home header, header .bg {
		min-height: 100vh !important;
		min-height: 100vh !important;
		height: 100vh !important;
	}

	body.home header.newImage.noSearch .bg .headerimg {
		top: 410px !important;
	}
}

/***** END: TABLET VERSION ******/


header nav li {
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

header nav li a, header nav li {
	color: #fff;
}
body.prices header nav li {
	color: #000;
}

header nav.sticky-menu li, header nav.sticky-menu li a, header nav.sticky-menu li a:hover {
	color: #000;
}

body.home header nav li a, body.home header nav li {
	color: #000;
}


body.home header nav li a:hover {
	color: #01b6b3 !important;
}

header .bg .main-title {
	font-weight: 700;
	font-family: "acumin-pro", 'Roboto', sans-serif;
	letter-spacing: -1.4px;
}

header .bg p{
	text-align: center;
	line-height: 34px;
	font-size: 36px;
	color: #000;
	padding-top: 140px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
header .bg h1{
	color: #000;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	padding: 15px 0px 5px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
header #signup-form {
	width: 580px;
	height: auto;
	display: block;
	margin: 20px auto;
	padding: 5px;
	position: relative;
	border-radius: 4px;
	border: 1px solid rgba(187, 187, 187, .5);
	background: #fff;
}
header #signup-form::before {
	content: '\f003';
	position: absolute;
	left: 20px;
	top: 14px;
	font-family: FontAwesome;
	font-size: 19px;
	color: #01b6b3;
}

header #signup-form input[type=text]{
	background: none;
	border: none;
	width: 350px;
	position: relative;
	padding-left: 47px;
	padding-right: 27px;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 18px;
	color: #000;
	display: inline-block;
	float: left;
	line-height: 46px
}

/**** INPUT'S PLACEHOLER COLOUR ****/

header #signup-form input[type=text]::-webkit-input-placeholder {
	color: #000;
}

header #signup-form input[type=text]:-moz-placeholder {
	color: #000;
}

header #signup-form input[type=text]::-moz-placeholder {
	color: #000;
}

header #signup-form input[type=text]:-ms-input-placeholder {
	color: #000;
}
/**** END: INPUT'S PLACEHOLER COLOUR ****/



header #signup-form #register_button {
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	background: #0baf6f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	border: none;
	display: inline-block;
	font-weight: 500;
	float: right;
	padding: 15px 30px;
	cursor: pointer;
}

header #signup-form #register_button:hover {
	background: #1bbd7e;
}

header #signup-form #signup-form p {
	font-size: 11px;
	color: #666;
}

header.noSearch .bg p {
	padding: 16px 0px 2px 0px;
}
header.noSearch .bg {
	height: 100%;
	background: url('/static/img/new/white_bg.gif?v=2');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}

header .bg .no-fees {
  font-size: 16px;
  color: rgb(154, 154, 154);
}

header .bg input[type=button]:hover{
	color: #ffffff;
	background: #01b6b3;
	opacity: 1;
}
header .headerimg img{
	width: 842px;
	height: auto;
	display: block;
	margin: 0px auto 0px auto;
}

/**** SMALL SCREENS LIKE 13 INCHES ****/

@media all and (max-height:699px) {
	header .headerimg img{
		width: 642px !important;
	}

	header.newImage.noSearch .bg .headerimg {
		top: 330px !important;
	}
}
/**** END: SMALL SCREENS LIKE 13 INCHES ****/


/**** LARGE SCREENS ****/
@media all and (min-height:800px)  {
	header .headerimg img{
		width: 800px !important;
	}
}
/**** END: LARGE SCREENS ****/




header.newImage .bg .headerimg{
	top: 23px;
}
header.newImage.noSearch .bg .headerimg {
	top: inherit;
	position: absolute;
	width: 100%;
	top: 330px;
}
header.newImage .bg p {/*new*/
	/** padding: 130px 50px 0px 50px; **/
	position: relative;
}
header.newImage .bg h1 {
	padding: 20px 0;
    font-size: 21px;
    color: rgb(150, 150, 150);
    font-weight: 300;
}

header.newImage .bg input[type=submit]{
	margin: 29px auto 0px auto;
}


header .separator{
	width: 100%;
	height: 80px;
	background: #e6e5e3;
	margin-top: -90px;
}

@media all and (max-width: 960px) {
	.centerize {
		margin-top: 30%;
	}
}

.headerimg {
	opacity:1;
	filter:alpha(opacity=0);
	position: relative;	top: 75px;	z-index: 9;
}
.imgfade1 {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.imgfade2 {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.imgfade3 {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.box{
	width: 100%;
	position: relative;
	overflow-x: hidden;
	background: #f7f8fa;
	overflow: hidden;
}

.box.boxTwo{
	background: #ffffff;
	border-top: 1px solid #e0e0e1;
	border-bottom: 1px solid #e0e0e1;
	overflow: hidden;
}
.box .center{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.box h2{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #3a3a3a;
	font-size: 39px;
	position: relative;
}
.box h2:before{
	content: " ";
	width: 29px;
	height: 4px;
	background: #01b6b3;
	position: absolute;
	top: -20px;
	left: 0px;
}
.box p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #3a3a3a;
	font-size: 16px;
	line-height: 28px;
	position: relative;
	padding-top: 25px;
}
.box .text{
	float: left;
	transform: translateY(-50%);
	width: 45%;
}
.box .text input[type=button]{
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 13px;
	color: #ffffff;
	background: #01b6b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	text-transform: uppercase;
	border: none;
	width: 175px;
	height: 45px;
	line-height: 45px;
	display: block;
	margin: 30px 0;
	padding: 0;
	font-weight: 400;
	cursor: pointer;
}
.box .text input[type=button]:hover{
	color: #ffffff;
	background: #01b6b3;
	opacity: 1;
}
.box.boxOne {
	z-index: 99;
	background: #1a1d1f !important;
}
.box.boxOne h2 {
	color: #fff !important
}
.box.boxOne p {
	color: #869198 !important;
}
.box.boxOne p span {
 	color: #fff !important;
 	font-weight:400
}
.box.boxOne .image{
	background: url("../../img/new/box1.jpg?v=1")left top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 58%;
	width: 853px;
	height: 630px;
}
.box.boxTwo .image {
	right: 57%;
	background: url("../../img/new/box2flat.jpg")left top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: inherit;
	width: 1032px;
	height: 631px;
}
.box.boxThree .image {
	background: url("../../img/new/box3.png")left top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	width: 968px;
	height: 648px;
}
.box.boxTwo .text{
	float: right;
	transform: translateY(-50%);
	width: 35%;
}
.mapContainer{
	width: 100%;
	height: 885px;
	background: #22272a;
}
.mapContainer h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	padding: 110px 0px 10px 0px;
}
.mapContainer h3 span{
	color: #01b6b3;
}
.mapContainer p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #677b85;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	max-width: 80%;
	margin: 0 auto;
}
.mapContainer img{
	display: block;
	margin: 0 auto;
	max-width: 1077px;
	width: 100%;
}
.mapContainer>span{
	display: block;
	text-align: center;
	margin-top: -45px;
}
.mapContainer a{
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #01b6b3;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	padding-bottom: 10px;
}
.mapContainer a:before{
	content: " ";
	background: url("../../img/new/iconPlay.png") center center no-repeat;
	width: 34px;
	height: 34px;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	position: relative;
	top: 10px;
}
.mapContainer a:hover{
	text-decoration: underline;
}
.sliderContainer{
	width: 100%;
	background: #ffffff;
	border-top: 1px solid #e0e0e1;
	border-bottom: 1px solid #e0e0e1;
	padding-bottom: 60px;
}
#owl{
	max-width: 1600px;
	width: 80%;
	margin: 0 auto;
}
.owl-carousel .owl-item {
	width: 320px;
	position: relative;
	padding-left: 60px;
	padding-right: 20px;
	box-sizing: border-box;
}
/* 50 Shades of Gray
#owl .item.transparent{
	opacity: 0.24;
}*/
#owl .item .talk{
	color: #3a3a3a;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 30px;
	position: relative;
}
#owl .item .talk:before{
	background: url("../../img/new/iconQuote.png") center center no-repeat;
	position: absolute;
	left: -60px;
	top: 0px;
	width: 34px;
	height: 28px;
	content: " ";
}
#owl .item .author{
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 300;
	color: #535353;
	font-size: 15px;
	line-height: 18px;
	position: relative;
}
#owl .item .author span{
	text-transform: uppercase;
	color: #7c7c7c;
	font-size: 12px;
}
#owl .item .author:after{
	display: block;
	width: 58px;
	height: 58px;
	content: " ";
	margin-top: 20px;
}
#owl .item .author.mateusz:after {
	background: url("../../img/new/mateusz.png") center center no-repeat;
}
#owl .item .author.pawel:after {
	background: url("../../img/new/pawel.png") center center no-repeat;
}
#owl .item .author.yana:after {
	background: url("../../img/new/yana.png") center center no-repeat;
}
#owl .item .author.krystian:after {
	background: url("../../img/new/krystian.png") center center no-repeat;
}
#owl .item .author.marek:after {
	background: url("../../img/new/marek.png") center center no-repeat;
}
#owl .item .author.jose:after {
	background: url("../../img/new/josemiguel.png") center center no-repeat;
}
#owl .item .author.anthony:after {
	background: url("../../img/new/anthony.png") center center no-repeat;
}
#owl .item .author.patricia:after {
	background: url("../../img/new/patricia.png") center center no-repeat;
}
.owl-theme .owl-controls{
	margin-top: 50px;
}
.owl-theme .owl-controls .owl-page span{
	background: url("../../img/new/bulletInactive.png") center center no-repeat;
	width: 21px;
	height: 21px;
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
	background: url("../../img/new/bulletActive.png") center center no-repeat;
}
.sliderContainer>h3{
	text-align: center;
	color: #3a3a3a;
	font-size: 40px;
	padding: 100px 0px 20px 0px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.sliderContainer>p{
	text-align: center;
	color: #3a3a3a;
	font-size: 18px;
	line-height: 24px;
	padding: 0px 0px 50px 0px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.darkSection{
	width: 100%;
	height: 230px;
	background: #fff;
}
.lastSection{
	width: 100%;
	box-sizing: border-box;
	position: relative;
	padding-top: 50px;
	margin-top: 30px;
	border-top: 1px solid #e3e3e3;
	background: #ffffff
}
.lastSection .items{
	text-align: center;
}
.lastSection .items .item{
	height: 240px;
	display: inline-block;
}
.lastSection .items .item p:before{
	content: " ";
	width: 30px;
	height: 4px;
	background: #01b6b3;
	display: block;
	margin: 7px auto;
}
.lastSection .items .item p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #7d7d7e;
	line-height: 24px;
	font-size: 22px;
	padding-bottom: 7px;
}
.lastSection .items .item span{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #7d7d7e;
	line-height: 14px;
	font-size: 13px;
}
.darkSection>p{
	font-weight: 300;
	color: #A5A5A5;
	font-size: 21px;
	line-height: 28px;
	position: relative;
	padding-bottom: 15px;
	text-align: center;
	padding: 20px 0;
}
.darkSection p.title{
	text-align: center;
	font-weight: 300;
	color: #2d2d2d;
	font-size: 40px;
	padding-bottom: 0px;
	padding-top: 40px;
}
.darkSection form:after{
	width: 412px;
	height: 1px;
	content: " ";
	display: block;
	margin: 50px auto;
}
.darkSection input[type="text"]{
	border: 1px solid #e5e5e5;
	background: #fff;
	padding-left: 55px;
	box-sizing: border-box;
	width: 455px;
	height: 50px;
	line-height: 50px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
}
.darkSection input[type="button"]{
	background: #01b6b3;
	color: #ffffff;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 170px;
	height: 48px;
	line-height: 48px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	font-weight: 400;
	border: none;
}
.darkSection input[type="button"]:hover{
	background: #01b6b3;
}
.darkSection>form{
	text-align: center;
}
.darkSection>form>span{
	position: relative;
	height: 50px;
}
.darkSection>form>span:before{
	position: absolute;
	top: 1px;
	left: 20px;
	background: url("../../img/new/iconMail.png") center center no-repeat;
	width: 27px;
	height: 17px;
	display: block;
	content: " ";
	z-index: 99;
}
.clientOpinionsCompanies{
	width: 100%;
	text-align: center;
	margin-top: 48px;
}
.clientOpinionsCompanies ul{
	width: 100%;
	text-align: center;
}
.clientOpinionsCompanies ul li{
	height: 50px;
	display: inline-block;
}

#mobileapp {
	padding-top: 60px;
}
#mobileapp h3 {
	color: #22272A;
	font-size: 36px;
	font-weight: 300;
}
#mobileapp p {
	color:#676C6F;
	font-size: 20px;
	font-weight: 300;
	padding:20px 0 40px 0;
}
#mobileapp .download-btn {
	padding: 5px;
}
#mobileapp .download-btn img {
	display: inline-block;
	margin: 0 15px 20px 0;
	height: 55px;
	width:auto;
}
#mobileapp .download-btn img:last-child {
	padding-right: 0;
}
footer{
	background: #22282a;
	width: 100%;
	padding: 30px 0;
}

footer ul li {list-style: none;}

footer .desc{
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	line-height: 17px;
	padding-top: 15px;
}

footer .button{
	width: 260px;
	height: 30px;
	background: none;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	border: 1px solid #01b6b3;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
	margin: 20px 0px;
}
footer .button:hover {
	background: #01b6b3;
	color: #fff;
}
footer .contact{
	color: #ffffff;
	font-size: 13px;
	display: block;
	font-weight: 300;
}
footer .contact a{
	text-decoration: none;
	color: #01b6b3;
}
footer .contact a:hover{
	text-decoration: none;
	color: #ffffff;
}
@media all and (max-width:800px) {
	footer .languageSelector {
		padding: 10px 0;
		width: 100%;
		 text-align: center;
	}

	footer .copyright {
		width: 100%;
		text-align: center;
	}
}
footer .copyright span{
	margin-top: 0px;
	color: #b0b0b0;
	font-size: 13px;
	font-weight: 300;
}
footer .copyright a{
	text-decoration: none;
	color: #01b6b3;
}
footer .copyright a:hover{
	text-decoration: underline;
}

footer h4{
	font-family: "Roboto Condensed",sans-serif;
	font-weight: 700 !important;
	text-transform: uppercase;
	color: #01b6b3 !important;
	font-size: 17px !important;
	padding-bottom: 25px;
}
footer a{
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #aaaaaa;
}
footer a:hover{
	text-decoration: underline;
}
footer p{
	text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	color: #aaaaaa;
}
footer .social a:hover{
	opacity: 0.8;
}
footer .fb{
	background: url("../../img/new/face.png");
}
footer .tt{
	background: url("../../img/new/tt.png");
}
footer .yt{
	background: url("../../img/new/yt.png");
}
footer .languageSelector{
	position: relative;
	float: right;
}
footer .languageSelector span:before{
	content: " ";
	background: url("../../img/new/miniMap.png");
	width: 32px;
	height: 18px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 4px;
}
footer .languageSelector span{
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	color: #aaaaaa;
}
footer .languageSelector span a{
	text-transform: uppercase;
	text-decoration: none;
	color: #01b6b3;
	margin-left: 3px;
	cursor: pointer;
}
footer .languageSelector label{
	position: relative;
}
footer .languageSelector label:after{
	content: " ";
	width: 0;
	height: 0;
	display: inline-block;
	margin-left: 3px;
	position: absolute;
	right: 6px;
	top: 5px;
}
footer .languageSelector select{
	text-transform: uppercase;
	text-decoration: none;
	color: #01b6b3;
	margin-left: 3px;
	cursor: pointer;
	border: none;
	background: transparent;
	font-size: 13px;
}
footer .languageSelector option{
	font-size: 13px;
	color: #01b6b3;
	background: #212121;
	border: 1px solid #01b6b3;
}

.appSection{
	background: #f7f8fa;
}
.appSection>h3{
	font-size: 40px;;
	color: #3a3a3a;
	text-align: center;
	padding-top: 90px;
}
.appSection>p{
	padding: 20px 0px 50px 0px;
	font-size: 18px;
	color: #3a3a3a;
	text-align: center;
	line-height: 24px;
	max-width: 500px;
	margin: 0 auto;
}
.appSection>div{
	margin: 0 auto;
	width: 960px;
}
.appSection>div>img{
	float: left;

}
.appSection>div>div{
	float: right;
}
.appSection>div>div p{
	max-width: 405px;
	font-size: 16px;
	line-height: 28px;
	color: #787878;
	padding: 50px 0px;
}
.appSection>div>div a{
	margin-right: 20px;
}
.popUp{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.64);
	z-index: 99999;
}
.popUp.active{
	display: block;
}
.popUp .content{
	position: absolute;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left: -280px;
}
.popUp .close{
	content: "X";
	width: 25px;
	height: 25px;
	position: absolute;
	top: -25px;
	right: -25px;
	background: #ffffff;
	border-radius: 25px;
	line-height: 25px;
	text-align: center;
	color: #01b6b3;
	cursor: pointer;
}
.boxicons {
	margin: 0px 12px 12px 0px;
	position: relative;
	top: 5px;
}
.hamburger{
	display: none;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 99;
	padding: 50px 70px;
	box-sizing: border-box;
}
.hamburger .logo{
	float: left;
	display: block;
}
.hamburger .menu{
	position: fixed;
	top: 0px;
	right: 0px;
	box-sizing: border-box;
	width: 0px;
	overflow: visible;
	background: #000000;
	height: 100%;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.hamburger .menu ul{
	float: left;
	opacity: 0;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.hamburger .menu ul li{
	height: 32px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 32px;
	margin: 20px;
}
.hamburger .menu ul li a, .hamburger .menu ul li form a{
	color: #ffffff;
	text-decoration: none;
}
.hamburger .menu ul li:hover{
	cursor: pointer;
}
.hamburger .menu ul li:first-child{
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
	border: 1px solid #ffffff;
	-webkit-transition: background 0.3s; /* Safari */
	transition: background 0.3s;
	background: #01b6b3;
	border: 1px solid #01b6b3;
	padding: 5px 25px;
}
.hamburger .icon{
	position: absolute;
	top: 50px;
	right: 70px;
	background: url("../../img/new/hamburger.png") no-repeat;
	width: 48px;
	height: 26px;
	cursor: pointer;
}
.hamburger.active .menu ul{
	opacity: 1;
}
.hamburger.active .icon{
	background: url("../../img/new/close.png") no-repeat;
}
.hamburger.active .menu{
	padding: 90px 70px;
	width: 70%;
	-webkit-box-shadow: 24px 0px 108px 60px rgba(0,0,0,0.66);
	-moz-box-shadow: 24px 0px 108px 60px rgba(0,0,0,0.66);
	box-shadow: 24px 0px 108px 60px rgba(0,0,0,0.66);
}

.clients-logo {
	width: 100px;
	text-align: center;
	float: left;
}

@media all and (max-width: 1667px) {
	.clients-logo {
		width: 14%;
	}
}

.clients-logo img {
	width: 100%;
	height: auto;
	display: block;
}

.sticky-menu {
	position: fixed;
	width: 100%;
	left: 0px;
	right: 0px;
	top: 0;
	z-index: 100;
	border-top: 0 !important;
	background: #fff;
	height: 55px;
	padding: 10px 100px 0 0;
	transition:0s;
	-moz-transition:0s;
	-webkit-transition:0s;
	-webkit-box-shadow: 0 4px 14px -7px #a8a8a8;
	box-shadow: 0 4px 14px -7px #a8a8a8;
}

.sticky-menu > .logo{
	display: none !important;
}

.sticky-menu > .logo2 {
	display: block !important;
	padding-left: 15px;
}

nav.nav.sticky-menu {
    padding-top: 10px !important;
}

.nav .dropdown-link::after {
	content: '\f078';
	font-family: FontAwesome;
	right: -5px;
	top: 0;
	color: #01b6b3;
	font-size: 8px;
	position: absolute;
}

.sticky-menu li.signup {
	background: #01b6b3;
	border:none;
}

.sticky-menu li.signup a {
	color: #fff !important;
}

.sticky-menu .dashboard {
	background: #01b6b3;
	border-radius: 4px;
}

.sticky-menu .dashboard a {
	color: #fff !important;
	border-radius: 4px;
}

@media (max-width: 1100px) {
	footer .right .col{
		width: 130px;
	}
	/* 50 Shades of Gray
	 #owl .item.transparent{
		opacity: 1;
	}*/


	.lastSection{
		height: initial;
		padding-bottom: 50px;
	}
}
@media (max-device-width: 960px) {
	body {
		overflow-x:hidden;
	}
	header .companies ul li:nth-child(7){
		display: none
	}
	nav{
		display: none;
	}
	.hamburger{
		display: block;
	}
	.appSection>div>div {
		float: none;
		margin: 0 auto;
	}
	.appSection>div>img {
		float: none;
		width: 446px;
		margin: 50px auto 0px auto;
		display: block;

	}
	.appSection>div {
		margin: 0 auto;
		width: auto;
	}
	.appSection .download-buttons img {
		width: 140px !important;
	}
	.box .center{
		width: 100%;
		height: initial;
		overflow: hidden;
	}
	.box h2:before{
		display: none;
	}
	.box{
		width: 100%;
		position: relative;
		overflow: hidden;
		background: #f7f8fa;
	}
	.box .text input[type=button]{
		margin-left: auto;
		margin-right: auto;
	}
	.box .text, .box.boxTwo .text {
		width: 95%;
		text-align: center;
		margin: 40px auto;
		position: static;
		transform: initial;
		float: none;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.box.boxOne p:after,.box.boxTwo p:after, .box.boxThree p:after {
		margin: 25px auto;
	}
	.box.boxOne .image {
		background: url("../../img/new/mbox1.jpg")left top;
		position: static;
		transform: initial;
		width: 534px;
		height: 400px;
		margin: 0 auto;
		float: right;
	}
	.box.boxTwo .image{
		background: url("../../img/new/box2.jpg")left top;
		background-size: cover;
		position: static;
		transform: initial;
		max-width: 100%;
		margin: 0 auto;
		float: left;
	}
	.box.boxThree .image{
		background: url("../../img/new/box3.png")left top;
		background-size: cover;
		position: static;
		transform: initial;
		width: 100%;
		height: auto;
		min-height: 420px;
		float: right;
		margin: 0 auto;

	}
	.mapContainer{
		height: initial;
		padding-bottom: 40px;
	}
	.lastSection>form>span, .lastSection input[type="text"]{
		width: 315px;
	}
	.appSection {
		padding:0 15px;
		margin: 0 auto;
	}
	.clients-logo {
		width: 63px;
		text-align: center;
		float: left;
	}
	.clients-logo img {
		width: 100%;
		padding: 10px 0;
		height: auto;
		display: block;
	}
	.price-box {
		margin-bottom: 30px;
	}
	.price-box .price_table_h_desc {
		height: auto !important;
		min-height: 0 !important;
	}
	.sub_pricing_meta {
		width: 100% !important;
	}
	header .clear {

	}
	footer .right {
		float: none;
		width: 550px;
		margin: 0 auto;
		display: block;
	}
	footer .left {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	footer .left .desc {
		margin: 0 auto;
	}
	footer .left .button{
		margin: 20px auto;
	}
	.headerimg {
		opacity: 1;
		filter: alpha(opacity=0);
	}
	header.newImage .bg h1 {
		padding: 28px 110px 0px 110px;
	}
	#mobileapp {
		padding-left:30px;
		padding-right:30px;
	}
	#mobileapp h3 {
		font-size: 26px;
	}
	#mobileapp p {
		font-size: 16px;
	}
}


@media (min-width:1901px){
	header.newImage .bg p {/*new*/
		/** padding-top: 210px; **/
	}
}

@media all and (min-width: 2200px) and (max-height: 930px) {
	header.newImage .headerimg img {
		display: none;
	}
}



@media (max-width:898px){
	header.newImage.noSearch .bg .headerimg {
		bottom: 200px;
	}
	header.newImage .bg p {/*new*/
		/** padding: 200px 100px 0px 110px; **/
		line-height: 50px;
	}
	header.newImage .bg h1 {
		padding: 28px 20px 0px 20px;
	}

	.boxicons {
		position: relative;
		top: 17px;
		clear: both;
		display: block;
		margin: 0 auto;
		padding-bottom: 29px;
	}

	.boxOne .text {
		margin-top: 25px !important;
	}

	.appSection>div>img {
		width: 300px;
	}

	.darkSection>form>span {
		width: auto;
		max-width: 450px;
	}

	.darkSection input[type="text"] {
		width: 95%;
		max-width: 450px;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
	}

	.darkSection {
		height: auto;
	}

	.darkSection form:after {
		margin:0;
	}

	.darkSection input[type="button"] {
		margin-top: 20px;
	}

}


@media all and (max-width: 448px) {
	.lastSection .items .item {
		width: 48%;
	}
}

@media (max-height: 780px){
	header{
		height: 100%;
	}

}

@media all and (max-height: 540px) {
	header.newImage .headerimg {
		display: none;
	}
}

@media (max-width: 800px){
	.olrk-normal, #livechat-compact-container {
	  display: none !important;
	}
	header.newImage .bg p {/*new*/
		/** padding: 100px 50px 0px 50px; **/
	}
}

img.logo, img.logo2 {
	min-width: auto !important;
}


.animateblock {
	padding: 8px 0;
	color: #fff;
	opacity: 0;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.animateblock.animated {
	opacity: 1;
}
.animateblock.btm {
	display: block;
	width: auto;
	margin-top: 105px;
}
.animateblock.btm.animated {
	margin-top: 0;
}
.cookiePolicy{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	min-height:40px;
	text-align:center;
	background:#fff;
	z-index:2147483635;
	-webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	font-family: Arial, Helvetica, sans-serif;
}

.cookiePolicy p{
	color:#666;
	font-size:12px;
	line-height:42px;
	height:0;
}

.cookiePolicy p a{
	color:#01b6b3;
	text-transform: lowercase;
}

.cookiePolicy span{
	position:absolute;
	top:12px;
	width:18px;
	height:18px;
	margin-left:10px;
	background-image:url(../../img/close-btn.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
	display:inline-block;
	cursor:pointer;
	opacity:0.5;
}

@media all and (max-device-width:414px) {
	.cookiePolicy {
		padding: 10px 5px;
	}

	.cookiePolicy span {
		top: 4px;
		position: relative;
	}

	.cookiePolicy p {
		height: auto !important;
		line-height: 20px;
	}
}

.cookiePolicy span:hover{
	opacity:1;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
	header.newImage .bg p {/*new*/
		/** padding: 210px 50px 0px 50px; **/
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	header.newImage .bg p {/*new*/
		/** padding: 170px 50px 0px 50px; **/
	}
	body.home header nav.nav {
		display: none
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	header.newImage .bg p {/*new*/
		/** padding: 210px 50px 0px 50px; **/
	}
}

.box .text,.box.boxTwo .text {
	top: initial !important;
	transform: none !important;
}
.box .image,.box.boxTwo .image {
	top: initial !important;
	transform: none !important;
}

/*nowe style*/
.boxOne .text{
	margin:100px 0;
}
.boxTwo .text{
	margin:100px 0;
}
.boxOne .image{
	margin-top:120px
}
.boxTwo .image{
	margin-top:120px
}
.boxThree .text{
	margin:100px 0;
}
.boxThree .image{
	margin-top:60px
}


/********** Close button for modal information about successful or error action **********/


.close-window {
	font-size: 11px;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	float: left;
	color: #151515;
}

.close-window:hover {
	color: #000 !important;
}

.close-dialog {
	padding-right: 5px;
	font-size: 13px;
	color: #4c8c49;
}


@media (max-width: 450px){
	.headerimg{
		display: none;
	}
}
header.search .bg {
  height: 100%;
}
header.newImage.search .bg .headerimg {
	top: inherit;
	position: absolute;
	width: 100%;
	bottom: 81px;
}
@media (max-width: 1601px){
	header.newImage.search .bg p {
		padding: 104px 50px 0px 50px;
	}
}
@media (max-width: 1501px){
	header.newImage.search .bg p {
		padding: 100px 50px 0px 50px;
	}
}
@media (max-width: 1366px){
	header.newImage.search .bg p{
		padding: 210px 50px 0px 50px;
	}
	header.newImage.search .bg .headerimg{
		display: none;
	}
}
@media (max-width: 1100px){
	header.newImage.search .bg p{
		padding: 130px 50px 0px 50px;
	}
}
@media (max-width: 960px){
	footer .left.euImg, footer .right.euImg{
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
		margin-top: 30px;
	}
	footer .desc {
		width: 100%;
	}
	.footer-about {
		text-align: center;
	}
	footer .button {
		display: inline-block;
	}

	footer .contact {
		font-size: 15px;
	}
}
@media (max-width: 898px){
	header.newImage.search .bg .headerimg {
		bottom: 200px;
	}
}
@media (max-width: 841px){
	header.newImage.search .bg p{
		padding: 36% 50px 0px 50px;
	}
	header.newImage.search .bg .headerimg{
		display: none;
	}
	header.header {
		padding-top: 100px;
	}
}
@media (max-height: 640px){
	header.newImage.search .bg p{
		padding: 160px 50px 0px 50px;
	}
	header.newImage.search .bg .headerimg{
		display: none;
	}
}
@media all and (max-width: 468px) {
	.euImg img {
		width: 100%;
	}
	body.homepage .main-title {
		margin-top: 35% !important;
	}
}
.socialTop {
  margin-left: 1px;
  color: #b9b9b9 !important;
}

@media all and (max-width: 1220px) {
	.socialTop {
		display: none !important;
	}
}

.socialTop.twitter{
	width: 25px;
	height: 25px;
	display:inline-block;
	background: url('../../img/new/social_icon_twitter.png') center center no-repeat;
}
.socialTop.facebook{
	width: 25px;
	height: 25px;
	display:inline-block;
	background: url('../../img/new/social_icon_fb.png') center center no-repeat;
}
.socialTop:hover{
	opacity: 0.7;
}
.hamburger .socialTop {
  margin-top: 4px;
  margin-left: 10px;
  float: left;
}
.hamburger .socialTop.twitter {
  width: 45px;
  height: 45px;
  display: block;
  background: url("../../img/new/social_icon_twitter_32x32.png") center center no-repeat;
}
.hamburger .socialTop.facebook {
  width: 45px;
  height: 45px;
  display: block;
  background: url("../../img/new/social_icon_fb_32x32.png") center center no-repeat;
  margin-left: 30px;
}
footer .right .fb,footer .right .tt,footer .right .yt{
	display: inline-block;
	width: 20px;
	height: 15px;
	margin-right: 15px;
}
header.newImage .bg p span{
	display: none;
	width: auto;
}
header.newImage .bg p span:before, header.newImage .bg p span:after{
	display: none;
}
header.newImage .bg p span.brand-word-visible{
	display: inline;
}




/**************  -/integrations/slack/  ***************/

body.integrations-slack header.header {
	background: url(../../img/headers/slack-integration.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

body.integrations-slack .content a {
	color: #01b6b3;
	text-decoration: none;
	font-weight: 400;
}

body.integrations-slack .text-center {
	text-align: center;
}

body.integrations-slack .content p {
	padding: 20px 0;
}

body.integrations-slack .intro-text {
	font-weight: 300;
	font-size: 20px;
	line-height: 38px;
	display: block;
	text-align: center;
	padding: 50px 0;
}

body.integrations-slack header.core-header {
	min-height: 400px;
	height: auto !important;
	text-align: center;
	background-color: #000;
	background: url("../../img/new/headbg.jpg") center center no-repeat;
	background-size: cover;
}

body.integrations-slack header.core-header h1 {
	font-size: 44px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 100 !important;
	font-family: 'Roboto', sans-serif;
	padding-top: 130px;
	padding-bottom: 20px;
}

body.integrations-slack header.core-header h2 {
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

body.integrations-slack .subheader {
	padding: 15px 0 0 0;
	border-bottom: solid 1px #e3e3e3;
}

body.integrations-slack .subheader ul {
	text-align: center;
	width: auto;
	margin: 0 auto;
	display: table;
}

body.integrations-slack .subheader li {
	padding-right: 30px;
	padding-bottom: 15px;
	float: left;
}

body.integrations-slack .subheader li:last-child {
	padding-right: 0px !important;
}

body.integrations-slack .subheader a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000 !important;
	padding-bottom: 15px;
}

body.integrations-slack .subheader i {
	color: #01b6b3;
}

body.integrations-slack .subheader a:hover {
	border-bottom: solid 2px #01b6b3;

}


body.integrations-slack .integrations-content .row {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: solid 1px #e3e3e3;
}

body.integrations-slack .integrations-content .intro {
	text-align: center;
	font-size: 19px;
	line-height: 30px;
	font-weight: 300 !important;
	padding-bottom:	50px;
}

body.integrations-slack .integrations-content .intro svg {
	width: 80px !important;
	max-height: 100px !important;
	height: auto !important;
	margin: 30px auto 0 auto !important;
	display: block;
}

body.integrations-slack .integrations-content h3 {
	font-size: 24px;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding: 15px 0 30px 0;
	margin: 0px 0 40px 0;
	position: relative;
}

body.integrations-slack .integrations-content h3::after {
	width: 30px;
	background: #01b6b3;
	height: 1px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 48%;
}

body.integrations-slack .step-number {
	width: 50px;
	height: 50px;
	font-weight: 300;
	color: #01b6b3;
	text-align: center;
	border-radius: 50%;
	border: solid 1px #01b6b3;
	padding: 12px 0 0 5px;
	font-size: 18px;
	display: block;
	margin-bottom: 15px;
}

body.integrations-slack .step-finish {
	width: 50px;
	height: 50px;
	font-weight: 300;
	color: #01b6b3;
	text-align: center;
	border-radius: 50%;
	border: solid 1px #01b6b3;
	padding: 15px 0 0 1px;
	font-size: 18px;
	display: block;
	margin: 0 auto 0 auto;
}

body.integrations-slack .description {
	font-size: 19px;
	line-height: 28px;
	font-weight: 300;
}

body.integrations-slack .integrations-content img {
	-webkit-box-shadow: 0px 0px 28px 0px rgba(227,227,227,1);
	-moz-box-shadow: 0px 0px 28px 0px rgba(227,227,227,1);
	box-shadow: 0px 0px 28px 0px rgba(227,227,227,1);
}

body.integrations-slack .bg-info {
	background-color: #F6FCFF;
	padding: 12px !important;
	font-size: 14px;
	border-radius: 4px;
	border: solid 1px #ADCEDF;
	color: #70B3D6;
	box-sizing: border-box;
	margin-top: 40px;
	display: block;
}

body.integrations-slack .bg-info i {
	padding-right:10px;
}

body.integrations-slack .bg-info strong {
	font-weight: 600 !important;
}

body.integrations-slack .noborder {
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}

body.integrations-slack #support {
	background: #FAFAFE;
}

body.integrations-slack #support .back {
	font-size: 13px;
	margin-top: 30px;
	display: inline-block;
	padding:5px 10px;
	border:solid 1px #01b6b3;
	border-radius: 4px;
}

body.integrations-slack #support .back i {
	padding-right: 6px;
}

body.integrations-slack #support .back:hover {
	background:#01b6b3;
	color:#fff;
	trensitin:all 0.5s;
}

body.integrations-slack .benefits .btn-cta {
	margin-left: auto !important;
	margin-right: auto !important;
}

body.integrations-slack img {
    max-width: 100%;
    height: auto;
}



@media all and (max-width: 800px) {

	.header h1 {
		font-size: 37px;
	}
	.header h2 {
		font-size: 22px;
	}

	/*** FLEXBOXES TO REORDER IMAGE AND DESCRIPTION ***/

	body.integrations-slack .flex {
		display: flex;
  		flex-flow: row wrap;
	}

	body.integrations-slack .img2 {
		order:2;
	}

	body.integrations-slack .desc2 {
		order:1;
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	/*** END: FLEXBOXES TO REORDER IMAGE AND DESCRIPTION ***/



    body.integrations-slack ul.benefit li {
        width: 100%;
        clear: both;
        float: none;
        line-height: 24px !important;
        text-align: center;
    }

    body.integrations-slack .benefits .benefit li:first-child {
    	width: 100%;
    }

    body.integrations-slack .benefits .benefit i {
    	display: inline-block;
    	margin: 0 auto;
    }

    body.integrations-slack .benefits h3 {
        font-size: 28px !important;
    }

    body.integrations-slack .content p {
    	font-size: 16px;
    	line-height: 25px;
    }

    body.integrations-slack .panel-heading .panel-title {
    	line-height: 22px;
    }
}


.panel-default {
	margin-bottom: 15px !important;
}

.panel-default > .panel-heading {
	background: #fff !important;
}

.panel-default .panel-body {
	font-size: 17px !important;
	font-weight: 400 !important;
	padding: 30px 40px;
}

.mb30 {
	margin-bottom: 30px;
	display: block;
}
.bg-info a {
	color: #70B3D6 !important
}

.benefits svg {
	width: 300px !important;
	height: auto !important;
	margin: 50px auto 30px auto !important;
	display: block;
}

.benefits h3 {
	font-size: 32px !important;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding: 15px 0 30px 0;
	margin: 0px 0 40px 0;
	position: relative;
}

.benefits h4 {
	font-size: 20px !important;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	position: relative;
	color: #01b6b3;
}

.benefits .benefit {
	text-align: left !important;
	line-height: 24px;
	padding: 0 20px;
}

.benefits .benefit p {
	padding: 0 !important;
}

.benefits .benefit i {

	font-size: 25px;
	color: #01b6b3;
	border-radius: 50%;
	border:solid 1px #01b6b3;
	display: block;
	width: 70px;
	height: 70px;
	text-align: center;
	margin-bottom: 20px;
	padding: 22px;
}

.benefits .benefit li:first-child {
	width: 20%;
	float: left;
}

.benefits .benefit li span {
	font-size: 13px;
}


.benefits .btn-cta {
	background: #01b6b3;
	border-radius: 3px;
	padding: 10px 16px !important;
	color: #fff !important;
	font-size: 14px;
	font-weight: 400;
	display: table !important;
	margin: 20px auto;
	width: auto;
	clear: both;
	text-align: center;
}


body.integrations-slack .btn-cta  {
	text-transform: uppercase;
}

.btn-cta {
	background: #01b6b3;
	border-radius: 4px;
	padding: 8px 16px;
	display: inline-block;
	margin: 10px 10px 10px 0px;
	color: #fff !important;
	text-align: center;
	font-size: 14px;
}

.btn-outline {
	background: transparent;
	border-radius: 4px;
	padding: 8px 16px;
	display: inline-block;
	margin: 10px 10px 10px 0px;
	color: #01b6b3 !important;
	border: 1px solid #01b6b3;
	text-align: center;
	font-size: 14px;
}

.dblock {
	display: inline-block !important;
}




/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

	body.integrations-slack .hamburger {
		display: none !important
	}

	body.integrations-slack img {
		margin: auto;
		display: block;
	}

	body.integrations-slack .step-number {
		margin: 50px auto 0 auto;
	}

	body.integrations-slack .description {
		text-align: center;
	}

	body.integrations-slack .benefit {
		min-height: 110px;
	}

}



/* Smartphone Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {

	body.integrations-slack .hamburger {
		display: none !important
	}

	body.integrations-slack img {
		margin: auto;
		display: block;
	}

	body.integrations-slack .step-number {
		margin: 50px auto 0 auto;
	}

	body.integrations-slack .description {
		text-align: center;
	}

	body.integrations-slack .subheader li {
		font-size: 15px;
	}

	body.integrations-slack .benefit {
		min-height: 110px;
	}

	body.home header nav.nav {
		display: none
	}

}


/* Smartphone Portrait */
@media only screen and (min-device-width: 320px) and (orientation: portrait) {

	body.integrations-slack .hamburger {
		display: none;
	}

	body.integrations-slack .socialTop {
		display: none !important;
	}

	body.integrations-slack img {
		margin: auto;
		display: block;
	}

	body.integrations-slack h3 {
		font-weight: 500 !important;
	}

	body.integrations-slack .step-number {
		margin: 50px auto 0 auto;
	}

	body.integrations-slack .intro {
		font-size: 19px;
		line-height: 50px !important;
	}

	body.integrations-slack .description {
		margin: 30px auto;
		text-align: center;
		font-size: 19px;
		line-height: 50px !important;
	}

	body.integrations-slack .benefit {
		min-height: 110px;
		font-size: 16px !important;
	}

	body.integrations-slack .benefit span {
		font-size: 10px !important;
	}

	body.integrations-slack .step-number {
		padding: 3px 0 0 5px !important;
	}

	body.integrations-slack .integration-support {
		text-align: center;
		font-size: 16px !important;
		line-height: 44px !important;
	}


	body.integrations-slack #support .panel-body {
		font-size: 15px !important;
	}



}


.header a:hover {
	color: #fff;
}

.dropdown {
	position: relative;
	display: inline-block;
	z-index: 99999;
}

.dropdown-link {
	padding-right: 10px;
	position: relative;
}

.dropdown-link::after {
	content: '\f078';
	font-family: FontAwesome;
	right: -5px;
	top: 0;
	color: #fff;
	font-size: 8px;
	position: absolute;
}

.dropdown .subnav {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 250px;
	padding: 12px 16px;
	margin-left: 0;
	z-index: 1;
	border-bottom: none !important;
	z-index: 99999;
	text-align: left !important;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

@media all and (max-device-width: 800px) {
	.dropdown .subnav {
		-webkit-box-shadow: 0px 0px 20px 0px rgba(227,227,227,0);
		-moz-box-shadow: 0px 0px 20px 0px rgba(227,227,227,0);
		box-shadow: 0px 0px 20px 0px rgba(227,227,227,0);
	}
}

.dropdown:hover .subnav {
	display: block;
}

.dropdown .subnav li {
	float: none;
	clear: both;
	padding-bottom: 2px;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: 300;
	list-style: none;
	padding-left: 0px !important;
	padding-top: 5px;
	margin-left: 0 !important;
	font-size: 14px !important;
	text-transform: none !important;
}

.dropdown .subnav li:last-child {
	padding-left: 0;
	margin-left: 0;
	border: none;

}

.dropdown .subnav li:last-child a {
	padding:0 !important;
}

.dropdown .subnav li:last-child:hover {
	background: none;
	border: none;
}

.dropdown .subnav li:hover a {
	color: #01b6b3 !important;
}

.dropdown .subnav li a {
	color:#000 !important;
}

.dropdown .subnav li a:hover {
	color:#01b6b3;
	trasition:all 1s;
	-moz-trasition:all 1s;
	-webkit-trasition:all 1s;
	text-decoration: none;
	border-bottom: none;
}

.dropdown .subnav li a i {
	padding-right:15px;
	color: #01b6b3 !important;
	width: 25px;
	font-size: 14px;
	text-align: center;
}


.miniheader {
	padding-bottom:0 !important;
}

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {

	width: 100%;
	background: #fff;
	padding: 0 25px 0 25px;
	min-height: 42px;
	z-index: 999999;
	margin-bottom: 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box !important;
	-webkit-box-shadow: 0 4px 14px -7px #a8a8a8;
    box-shadow: 0 4px 14px -7px #a8a8a8;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 7px;
	right: 10px !important;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #000;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #fff;
	padding: 15px 0px 15px 0px !important;
}

@media all and (min-width:320px) and (max-width:1024px) {
	nav.mean-nav .logo { display: none !important }
	nav.mean-nav .logo2 { display: block; !important }
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	margin-top: 20px;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	margin-left: 0 !important;
}

.mean-container .mean-nav ul > li a {
	display: block;
	float: left;
	width: 100%;
	padding: 5px 0;
	margin: 0;
	font-size: 13px;
	color: #000;
	border-bottom: 1px solid #e3e3e3;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li .btn-cta:hover {
	background: #01b6b3 !important;
	color: #fff !important;
}

.mean-container .mean-nav ul li li a {
	width: 91%;
	padding: 2px 25px;
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
	color: #38F3CA;
	font-size: 12px;
}

.mean-container .mean-nav form#logout-form {
    width: 100%;
    text-align: center;
    font-style: 13px !important;
}

.mean-container .mean-nav ul li li:last-child a {
	padding: 10px 25px !important;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	width: 26px;
	height: 32px;
	padding: 6px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	border: none !important;
}
.mean-container .mean-nav ul li ul.subnav {
	padding-top: 20px;
}
.mean-container .mean-nav ul li ul.subnav a {
	border-bottom: none !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #01b6b3;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-container .dropdown-link::after {
	content: '' !important;
}

.mean-container .dropdown .subnav {
	position: relative !important;
	background: none !important;
	margin-top:0 !important;
}

.mean-container .dropdown .subnav li {
	border-bottom:none !important;
	padding-top:0 !important;
	font-size: inherit !important;
	padding:0 !important;
	margin:0 !important;
	font-weight:500 !important;
	position: relative;
}


.mean-container .login {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.mean-container .login li {
	text-align: center;
	float: left;
	width: 47% !important;
	margin-right: 5%;
}

.mean-container .login li a {
	text-align: center !important;
}

.mean-container .login li.signup a {
	background: #01b6b3;
	border: 1px solid #01b6b3 !important;
}

.mean-container .login li:last-child {
	margin-right: 0;
}
.mean-container .login li.login {
	margin-top:0;
}

.mean-container .login li.signup {
	border: none !important;
}

.mean-container .login li.signup a {
	border-radius: 3px;
}

.mean-container .login li form {
	display: block;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}

header .clear {
	margin-top: 40px;
}

@media all (max-device-width: 1024px) {
	header .clear {

	}
}


body.homepage .signup:hover {
	border: solid 1px #01b6b3 !important;
}

body.homepage .signup-nav:hover {
	background:#01b6b3 !important;
	color: #fff !important;
	border-radius: 4px;

}



/* Portrait */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.centerize {
		margin-top: 50%;
	}

}

@media all and (max-device-width: 1024px) and (orientation: portrait) {
	.companies, .boxOne, .boxTwo, .boxThree, .mapContainer, .sliderContainer, .mobileapp, .darkSection, .lastSection, footer {
		overflow-x: hidden
	}
}


/****** SIGN UP RESPONSIVE FIX ******/

	.btn_green, .btn_facebook_register {
		width: 100%;
	}

@media all and (max-width:468px) {
	.reg_form {
		width: 100%;
	}

	.btn_facebook_register {
		background: #3b5998 !important;
	}

	.login-link {
		position: relative;
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	.reg-laurels img {
		max-width: 100%;
	}
}

/****** EMD: SIGN UP RESPONSIVE FIX ******/


/****** SIGN UP RESPONSIVE FIX ******/

.companies .label {
	float: left;
	padding: 5px 20px 0 0;
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 14px;
	color: #818c90;
}
.companies .label i {
	width: 100%;
	font-size: 12px;
}

.companies .slides img {
	padding: 0 12px;
}

.companies .slides .logotypes div {
	height: 40px;
}

.companies .slides .logotypes img {
	max-width: 100%;
}

.mobile-clients {
	width: 100%;
	padding-left: 0;
	margin-left: 0;
}

.mobile-clients img {
	padding-right: 15px;
	float: left;
	max-width: 100%;
}
.mobile-clients img:last-child {
	padding-right: 0;
}
/****** END: SIGN UP RESPONSIVE FIX ******/

@media all and (min-width:960px) and (max-width:1024px) {
	nav .logo, nav .logo2 {
		margin-left: 10px;
	}
	nav .logo img, nav .logo2 img {
		max-width: 80%;
	}
	.nav {
		padding: 30px 10px 30px 100px;
	}
	.sticky-menu {
		padding: 10px 10px 30px 100px;
	}
}



/****** NEW FOOTER ******/

footer.main-footer {
	background: #191f2c;
}

footer.main-footer hr {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-top: 1px solid #333333 !important;
}




/* NEW NOTYFICATION STYLE */

.message--wrapper {
	margin-bottom: 20px;
	display: block;
	padding: 14px 14px;
	border-radius: 4px;
	max-width: 950px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	z-index: 9999999;
	position: absolute;
	left: 0;
	right: 0;
}

.message--wrapper-full {
	margin-bottom: 20px;
	display: block;
	padding: 14px 14px;
	border-radius: 4px;
	width: 100%;
	margin: 0 0 20px 0 ;
}

.message--wrapper-full .btn-cta,
.message--wrapper-full .btn-outline {
	margin-top: -5px;
}

div.dashboard .message--wrapper {
	position: relative !important;
	margin-bottom: 20px;
	display: inline-block !important;
	width: 100%;
	padding: 14px 14px;
	border-radius: 4px;
	margin-top: 0;
	max-width: 100%;
	z-index: 1;
}


body.lost-password .message--wrapper {
	max-width: 620px !important;
}

.message--description {
	position: relative;
	padding-left: 30px;
	font-size: 14px;
}

.message--wrapper .message--title, .message--wrapper .close-window {
	display: none !important;
}

.message--infoMessage {
	background: #f1f1f3;
	padding: 50px;
}

.message--infoMessageC {
	background: rgb(213, 236, 231);
	border: solid 1px #75c5b4;
}

.message--infoMessageC .message--description {
	color: #01b6b3;
	position: relative;
	padding-left: 30px;
	font-size: 14px;
}
.message--infoMessageC .message--description::before {
	font-family: FontAwesome;
	content: '\f00c';
	position: absolute;
	left: 2px;
	top: -1px;
	color: #01b6b3;
	font-size: 15px;
}

.message--infoMessageE {
	background: #ffdfdf;
	border: 1px solid #E05443;
	text-align: left;
}

.message--infoMessageE .message--description{
	color: #934b4b;
}

.message--infoMessageE .message--description::before {
	font-family: FontAwesome;
	content: '\f05e';
	position: absolute;
	left: 2px;
	top: -1px;
	color: #934b4b;
	font-size: 15px;
}

.message--infoMessageQ {
	background: #ddd;
}

.message--infoMessageI {
	background: #d9edf7;
	border: solid 1px #4398c4;
	position: relative;
}

.message--infoMessageI .message--description::before {
	font-family: FontAwesome;
	content: '\f05a';
	position: absolute;
	left: 2px;
	top: -1px;
	color: #4398c4;
	font-size: 15px;
}

.message--infoMessageI .message--description {
	color: #4398c4;
}

.clickable-notification {
	height:100%;
	cursor: pointer;
}

/***** Bar notification about unpaid account ******/

.message-unpaidAccount_bar {
	background: #e82e56;
	color: #fff;
}

.message-unpaidAccount_bar .message--description {
	color: #fff;
}
.message-unpaidAccount_bar .message--description a{
	color: #fff;
	font-weight: 500;
	text-decoration: underline;
}

.message-unpaidAccount_bar .unpaid .message--description {
	padding:10px 40px;
	border:none;
}

.message-unpaidAccount_bar .unpaid .message--description::before {
	left: 20px;
	top: 10px;
	font-family: FontAwesome;
	content: '\f05e';
	position: absolute;
	color: #fff;
	font-size: 15px;
}


/***** Bar notification about login as XYZ user ******/

.message-loggedAsCustomer {
	background: #01b6b3;
	color: #fff;
}

.message-loggedAsCustomer .message--description {
	color: #fff;
}
.message-loggedAsCustomer .message--description a{
	color: #fff;
	font-weight: 500;
	text-decoration: underline;
}

.message-loggedAsCustomer .message--description {
	padding:10px 40px;
	border:none;
}

.message-loggedAsCustomer .message--description::before {
	left: 20px;
	top: 12px;
	font-family: FontAwesome;
	content: '\f007';
	position: absolute;
	color: #fff;
	font-size: 13px;
}





/***** TABLET VERSION ******/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

	header.miniheader {
	    padding-top: 55px !important;
	    background: #fff !important
	}

	header.miniheader nav {
		display: none;
	}

	body.home header.newImage .bg img {
		max-width: 90% !important;
	}
	body.home header, header .bg {
	    min-height: 86vh !important;
	    min-height: 86vh !important;
	    height: 86vh !important;
	}

	body.home header .clear {
	    margin-top: 20px;
	}
	body.home .appSection>div>div {
		text-align: center;
	}
	body.home .appSection>div>div p {
		max-width: 100%;
		padding: 10px 0px;
	}

	header ul.login {
		display: none !important
	}

	body.home header nav.nav {
		display: none
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	header, header .bg {
		min-height: auto !important;
		min-height: auto !important;
	 	height: auto !important;
	}

	.card-margin {
	    margin-left: 18%;
	}
}

/***** END: TABLET VERSION ******/

/***** SMARTPHONE PORTRAIT VERSION ******/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 468px)
and (orientation : portrait) {
	body.home header, body.home header .bg {
	    min-height: 100vh !important;
	    min-height: 100vh !important;
	    height: 100vh !important;
	}

	header.miniheader {
	    padding-top: 55px !important;
	    background: #fff !important
	}

	header.header nav {
		display: none;
	}

	header .clear {
	    margin-top: 140px !important;
	}
	.appSection>div>div {
		text-align: center;
	}
	.appSection>div>div p {
		max-width: 100%;
		padding: 10px 0px;
	}

	header .bg #signup-form {
		width: 90%;
		border:none;
	}
	header .bg input[type=text] {
		border:1px solid rgba(187, 187, 187, .5) !important;
		border-radius: 3px !important;
		width: 100% !important;
		margin-bottom: 20px;
	    font-size: 16px;
	}

	header .bg #register_button {
	    margin: 0 auto;
	    float: none !important;
	    width: auto;
	    display: block !important;
	}

	header.newImage .bg h1 {
		font-size: 18px;
	}

	.box.boxThree .image {
	    max-width: 95%;
	}

	.mapContainer h3 { font-size: 25px;}
	.box h3, .box h2, .appSection h3, .darkSection p.title { font-size: 30px;}
	.mapContainer a { font-size: 13px;}
	.appSection .download-buttons img { width: 110px !important; }
	.darkSection>p { font-size: 15px; }

	header.noSearch .bg {
	    background-size: 300%;
    	background-position: center bottom;
	}

	body.home header nav.nav {
		display: none
	}

}
/***** END: SMARTPHONE PORTRAIT VERSION ******/


/***** EXTRA SMALL SMARTPHONE PORTRAIT VERSION ******/
@media only screen
and (min-device-width : 320px)
and (max-height : 568px)
and (orientation : portrait) {
	header .clear {
	    margin-top: 80px !important;
	}

	header .bg p { font-size: 26px !important; line-height: 30px !important;}
	header.newImage .bg h1 { font-size: 16px !important;}
	nav .logo img, nav .logo2 img { max-width: 100px; margin-top: 3px; }
}

/***** END: EXTRA SMALL SMARTPHONE PORTRAIT VERSION ******/



#signup-form .wrong-data  {
	color: red;
    background: #ffecec;
    padding: 5px 15px;
    margin-top: 15px;
    border: 1px solid #ffc2c2;
    border-radius: 3px;
    font-size: 12px;
    width: 100%;
}

#signup-form .wrong-data  a {
	color: red;
	font-weight: 600;
}

#register-loader {
	display: block;
	clear: both;
	margin: 0 auto 0 auto;
	width: 30px;
	height: auto;
}

#dashboard-button {
	moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: block;
    background: #01b6b3 !important;
    color: #fff !important;
    font-size: 13px;
    padding: 15px 25px;
    display: block;
    margin-right: 5px;
    text-decoration:none;
	text-align: center;
	cursor: pointer;
	pointer-events: auto;
	border:none;
	margin: 15px auto;
	text-transform: uppercase;
	font-weight: 500;
}


@media all and (min-width: 801px) {
	#mobile-logins {
		display: none !important
	}
}


/* iPhone 5 Portrait */
	@media only screen
	  and (min-device-width: 320px)
	  and (max-device-width: 568px)
	  and (orientation: portrait) {
		.ue-logo {
			max-width: 95%;
			margin: auto;
		}
	}

/* iPhone 6&7 PLus Portrait */
@media all and (min-device-width:414px) and (max-device-width:468px) and (orientation: portrait) {
	body.home .newImage .main-title {
		padding-top: 100px;
	}
}


/******** TESTIMONIALS SECTION ********/

.section-testimonials {
	background: url(/static/img/customers-header.jpg);
	background-size: cover;
	padding: 80px 0;
	color: #fff;
	font-weight: 100;
	font-size: 29px;
	margin-top: 50px;
}

.section-testimonials i {
	padding-bottom: 30px;
}

.section-testimonials .author {
	text-transform:uppercase;
	font-size:14px;
	font-weight: 500;
	margin-top: 50px;
}

@media all and (max-width:800px) {

	.section-testimonials {
		background: url(/static/img/customers-header.jpg);
		background-size: cover;
		padding: 50px 0;
		color: #fff;
		font-weight: 300;
		font-size: 17px;
		margin-top: 50px;
	}
}
/******** END: TESTIMONIALS SECTION ********/


/******** CUSTOMERS MAP SECTION ********/

.section-map {
	background: url(/static/img/features/new/map.gif) no-repeat center center;
	background-size: contain;
	font-size: 16px;
	font-weight: 300;
}

.section-map .description {
	padding: 120px 0;
}

.section-map img {
	padding-bottom: 20px
}

.section-map h3 {
	font-size: 32px !important;
	font-weight: 300 !important;
	color: #01b6b3;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}

.section-map h4 {
	font-size: 19px !important;
	font-weight: 500 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.section-map .btn-cta {
	padding: 15px 50px;
	margin-top: 30px;
	font-weight: 400;
}

@media all and (max-width:800px) {

	.section-map h3 {
		font-size: 24px !important;
		font-weight: 500;
		color: #01b6b3;
		padding-bottom: 20px;
	}
}

/******** END: CUSTOMERS MAP SECTION ********/

@media all and (max-device-width:414px) {
	.center-mobile {
		text-align: center;
	}
}


.anniversary-ribbon {
	top:100px;
	right:0;
	position: fixed;
	z-index:9999;
	transition: all 1s;
}

.anniversary-ribbon i {
	right:95px;
	top:-13px;
	position: relative;
	color: #E3E3E3;
	cursor: pointer;
}

body.anniversary .anniversary-ribbon {
	display: none !important;
}

@media all and (max-width: 1170px) {
	.anniversary-ribbon {
		display: none !important;
	}
}
